<div class="student-registration-parent col-md-12">
    <div class="student-registration-header">
            <h3>Register new student</h3>
            <p>
              Ask the student to set his/her fingerprint or skip this step in
               case the student is not avalaible 
            </p> 
    </div>  
    <!-- HERE IS THE BODY -->
        <div class="student-fingerprint">
           <div class="fingerprint-img">
               <span class="lnr lnr-pointer-up signature-icon"></span>               
           </div>
        </div>
    <!-- HERE IS THE FOOTER STARTS  -->
 <div class="instructions">
     <ul>
         <li>Waiting for the student to insert his/her finger !</li>
      </ul>
 </div>
  
     <!-- HERE IS THE TIME LINE  -->
        <div class="timeline col-md-12">
            <ul class="list-unstyled form-wizard-steps clearfix">
                <h5>Fingerprint</h5>
                <li class="active"><span>1</span></li>
                <li><span>2</span></li>
                <li><span>3</span></li>
                <li><span>4</span></li>
                <li><span>4</span></li>
                <li><span>4</span></li>
                <li><span>4</span></li>
                <li><span>4</span></li>
                <button class="brill-btn-2">NEXT</button>               
            </ul>
        </div>
    <!-- HERE IS THE FOOTER STARTS  -->
    <div class="student-registration-footer">
        <div class="col-md-2 draftt-lable">
            <h4>UNFINISHED OPERATIONS</h4>
        </div>

          <div class="draftt-students-names col-md-7">
              <ul>
                  <li> <a href="#">MOHSSIN KHALOUFI</a> </li>   
                  <li> <a href="#">MOHSSIN KHALOUFI</a> </li>                 
                  <li> <a href="#">MOHSSIN KHALOUFI</a> </li>                 
                  <li> <a href="#">MOHSSIN KHALOUFI</a> </li>                 
                  <li> <a href="#">MOHSSIN KHALOUFI</a> </li>                 
                  <li> <a href="#">MOHSSIN KHALOUFI</a> </li>                 
                  <li> <a href="#">MOHSSIN KHALOUFI</a> </li>                 
                  <li> <a href="#">MOHSSIN KHALOUFI</a> </li>                 
                  <li> <a href="#">MOHSSIN KHALOUFI</a> </li>                                   
              </ul>
          </div>
 
        <div class="show-all-drafts col-md-3">
            <select show_all_draffts class="brill-inputs brill-inputs-select-text">
                  <option>MOHSSINE KHALOUFI</option>
            </select>
        </div>
    </div>
 
</div>
