<div class="student-registration-parent col-md-12">

    <div class="brill-validation-notify brill-validation-notify-failed">
        <button class="close-notification"> <i class="lnr lnr-cross-circle"></i> </button>
       <p>
        IT HAS BEEN FAILELD THE OPERATION
       </p>
    </div>

    <div class="student-registration-header">
            <h3>Register new student | {{ stepIndex.stepHeaderTitle }} </h3>
            <p>
              {{ stepIndex.stepDescription }} 
            </p> 
    </div>  
    <form [formGroup]="GuardianForm"> 
            <section [ngSwitch] = "stepIndexNum" class="registration-form-parent-sect">
                    <!-- HERE IS THE BODY OF THE FINGER PRINT SETTINGS AND INSERATIONS STARTS-->
                    <div *ngSwitchCase="1" #fingerPringSection>
                         <div class="registration-body">
                            <div class="student-fingerprint">
                            <div class="fingerprint-img">
                                <span class="lnr lnr-pointer-up signature-icon"></span>               
                            </div>
                            </div>
                        </div>    
                    </div>
                    <!-- HERE IS THE BODY OF THE FINGER PRINT SETTINGS AND INSERATIONS ENDS-->

                    <!-- HERE IS THE BODY OF THE STUDENT PHOTO UPLOADS AND INSERATIONS STARTS-->
                    <div *ngSwitchCase="2" #uploadPhotoSection>
                        <div class="inputs-container">
                         <!-- RENDRING THE CONTAINER TO TAKE A PHOTO STARTS-->
                        <div class="video-holder" *ngIf="startWebcam">
                           <div  [@CamLuncherAnimation]="isLanchedAnimate ? 'lanched' : 'shated'" class="video-stram">
                                <webcam  [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="!webcamImage"
                                [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                                [imageQuality]="1"
                                (cameraSwitched)="cameraWasSwitched($event)"></webcam>
                               <div class="btns">
                                    <button *ngIf="!webcamImage" class="cupture-snap brill-btn-2" (click)="triggerSnapshot();">Take photo</button>
                                    <button *ngIf="!webcamImage" class="cupture-snap brill-btn-3" (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable">Alt cam</button>  
                                    <button class="cupture-snap brill-btn-0" (click)="toggleWebcam();"> Cancel</button>
                                    <button *ngIf="webcamImage" class="cupture-snap brill-btn-2" (click)="takeAnotherPhoto();"> Take another </button>                                    
                                    <button *ngIf="webcamImage" class="cupture-snap brill-btn-1" (click)="saveSnappedPhotot();"> Confirm </button>
                               </div>  
                              
                                 <div class="snapshot" [@SnappedTheImage]="webcamImage ? 'snapped' : 'dismissed' " *ngIf="webcamImage">
                                     <img [src]="webcamImage.imageAsDataUrl"/>
                                  </div>
                           </div>
                        </div> 
 

                            <div class="registration-body">
                                      <div class="student-photo">
                                        <div class="fingerprint-img">
                                            <!-- <img *ngIf="studentPhotoInLocal !== null" [src]="studentPhotoInLocal"/> -->
                                            <img *ngIf="webcamImage" [src]="webcamImage.imageAsDataUrl"/>
                                              <span *ngIf="!webcamImage" class="lnr lnr-camera student-photo-icon"></span>              
                                        </div>

                                        <div class="takephoto">
                                                <button (click)="lunchWebcamToUser()" class="brill-btn-2">TAKE PHOTO</button>
                                                 <!-- <button class="brill-btn-1" (click)="chooseStudentPhoto()">UPLOAD PHOTO</button> -->
                                                 <!-- <input id="student_local_photo" type="file" (change)="uploadStudentImg($event)"> -->
                                            </div>

                                     </div>
                             </div>  
                         </div>     
                    </div>
             <!-- HERE IS THE BODY OF THE STUDENT PHOTO UPLOADS AND INSERATIONS ENDS-->
           <!-- HERE IS THE BODY OF THE GUARDIAN INFORMATIONS STARTS-->
             <div *ngSwitchCase="3" #guardianInfoSection class="brill-input-holders">
                    <div class="inputs-container" formGroupName="GuardianData">
                        <div class="brill-row">
                            <div>
                                <label for="cin">cin</label>
                                <input  formControlName="cin" type="text" name="cin" placeholder="CIN" class="input obliger" required 
                                [class.input-not-invalid]="GuardianForm.get('GuardianData.cin').invalid && GuardianForm.get('GuardianData.cin').touched">
                            </div>
                            <div>
                                <label for="prenom">prénom</label>
                                <input  formControlName="first_name" name="prenom" type="text" placeholder="PRENOM" class="input obliger" required
                                [class.input-not-invalid]="GuardianForm.get('GuardianData.first_name').invalid && GuardianForm.get('GuardianData.first_name').touched">
                            </div>
                            <div>
                                <label for="nom">nom</label>
                                <input formControlName="last_name" name="nom" type="text" placeholder="NOM" class="input obliger"
                                [class.input-not-invalid]="GuardianForm.get('GuardianData.last_name').invalid && GuardianForm.get('GuardianData.last_name').touched">
                            </div>
                            <div>
                                <label for="sexe">sexe</label>
                                 <select class="input-select" formControlName="guardianCIN" name="sexe" id="sexe">
                                     <option selected value="">Famle</option>
                                    <option value="volvo">Male</option>
                                  </select>
                            </div>
                        </div>
                        <div class="brill-row">
                            <div>
                                <label for="date de naissance">date de naissance</label>
                                <input formControlName="guardianDateOfBirth" type="date" placeholder="Date de naissance" class="input"
                                [class.input-not-invalid]="GuardianForm.get('GuardianData.birth_date').invalid && GuardianForm.get('GuardianData.birth_date').touched">
                            </div>
                    
                            <div>
                                <label  for="prenom" class="arabic">الاسم العائلي</label>
                                <input formControlName="guardianLastNameArabic" type="text" placeholder="الاسم العائلي" class="input obliger arabic">
                            </div>
                            <div>
                                <label for="nom" class="arabic">الاسم الشخصي</label>
                                <input formControlName="guardianFirstNameArabic" type="text" placeholder="الاسم الشخصي" class="input obliger arabic">
                            </div>
                            <div>
                                <label for="lieu de naissance" class="arabic">مكان الازدياد</label>
                                <input formControlName="guardianPlaceOfBirth" type="text" placeholder="مكان الازدياد" class="input arabic">
                            </div>
                            
                        </div>
                        <div class="brill-row">
                            <div>
                                <label for="Lieu de naissance">Lieu de naissance</label>
                                <input formControlName="guardianPlaceOfBirth" type="text" placeholder="Lieu de naissance" class="input">
                            </div>
                            <div>
                                <label for="guardianReleventType">Relation avec l'étudiant</label>
                                 <select formControlName="guardianReleventType" class="input-select" name="sexe" id="guardianReleventType">
                                    <option selected value="">Father</option>
                                    <option selected value="">Mother</option>
                                    <option value="volvo">Sister</option>
                                    <option value="volvo">Brother</option>
                                    <option value="volvo">Grand Mother</option>
                                    <option value="volvo">Grand Father</option>
                                    <option value="volvo">Uncle</option>
                                 </select>
                            </div>
                            <div>
                                <label for="Num télé">Num téléphone</label>
                                <input formControlName="guardianPhoneNumber" type="tel" placeholder="Num télé" class="input obliger" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
                            </div>
                            <div>
                                <label for="email">email</label>
                                <input formControlName="guardianEmail" type="email" placeholder="Email" class="input">
                            </div>
                    
                        </div>
                    
  
                        <div class="btn-save"> 
                            <input type="button" class="input" value="Sauver le tuteur">
                            <input class="input add" type="button" value="ajouter un autre tuteur">
                        </div>
                      </div>
             </div> 
              <!-- HERE IS THE END OF GUARDIAN INFORMATION  END -->  
              
              
              <!-- HERE IS THE BODY OF THE STUDENT INFORMATION  STARTS -->   
             <div *ngSwitchCase="4" #StudentInfoSection class="brill-input-holders" formGroupName="studentData">
                <div class="inputs-container">
                    <div class="brill-row">
    
                        <div>
                            <label for="CNE">CNE</label>
                            <input formControlName="studentCNE" type="text" placeholder="CNE" class="input obliger">
                        </div>
                        <div>
                            <label for="Num d'inscription">Num d'inscription</label>
                            <input formControlName="studentRegistrationNumber" type="text" placeholder="Num d'inscription" class="input obliger">
                        </div>
                        <div>
                            <label for="Prénom">Prénom</label>
                            <input formControlName="studentFirstName" type="text" placeholder="Prénom" class="input obliger">
                        </div>
                        <div>
                            <label for="Nom">Nom</label>
                            <input formControlName="studentLastName" type="text" placeholder="Nom " class="input obliger">
                        </div>
    
                    </div>
                    <div class="brill-row">
 
                        <div>
                            <label for="prenom" class="arabic">الاسم العائلي</label>
                            <input formControlName="studentLastNameAR"type="text" placeholder="الاسم العائلي" class="input arabic obliger">
                        </div>
                        <div>
                            <label for="nom" class="arabic">الاسم الشخصي</label>
                            <input formControlName="studentFirstNameAR" type="text" placeholder="الاسم الشخصي" class="input arabic obliger">
                        </div>

                        <div>
                            <label for="Statue">Statue</label>
                            <input formControlName="studentStatus" type="text" placeholder="Statue" class="input">
                        </div>
                        <div>
                            <label for="Num d'inscription">Lieu de naissance</label>
                            <input formControlName="studentPlaceOfBirth" type="text" placeholder="Lieu de naissance" class="input">
                        </div>
    
                    </div>
 
                    <div class="brill-row">
                        <div>
                            <label for="Sexe">Sexe</label>
                             <select formControlName="studentSex" class="input-select" formControlName="studentSex" name="sexe" id="sexe">
                                <option selected value="">Famle</option>
                               <option value="volvo">Male</option>
                             </select>
                        </div>	
                        <div>
                            <label for="Date de naissance">Date de naissance</label>
                            <input formControlName="studentDateOfBirth" type="date" placeholder="Date de naissance" class="input">
                        </div>
                        <div>
                            <label for="Soutien">Soutien</label>
                            <input formControlName="studentSupport" type="text" placeholder="Soutien" class="input">
                        </div>
                        <div>
                            <label for="tel">Num télé</label>
                            <input type="tel" formControlName="studentTel" placeholder="Num télé" class="input" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
                        </div>
                        
                    </div>
                    <!-- <div class="brill-row">
                        
                        
                        <div>
                            <label for="email">email</label>
                            <input type="email" placeholder="Email" class="input">
                        </div>
                    </div> -->
    
                </div>
             </div>

              <!-- HERE IS THE END OF STUDENT INFORMATION  END -->   
              <div class="brill-input-holders">              
                <div class="inputs-container" *ngSwitchCase="5" #LinkStudentToServices>
                        <div class="brill-row">
            
                            <div>
                                <label for="CNE">CNE</label>
                                <input type="text" placeholder="Classe" class="input obliger">
                            </div>
                            <div>
                                <label for="addStuentToServices">Ajouter à la classe</label>
                                 <select class="input-select" formControlName="addStuentToServices" name="class" id="addStuentToServices">
                                    <option  value="">Class 1</option>
                                    <option  value="">Class 2</option>
                                    <option  value="">Class 4</option>
                                   <option value="volvo">Class 5</option>
                                   <option value="volvo">Class 6</option>
                                 </select>
                            </div>
                            <div>
                                <label for="Groupe">Groupe</label>
                                 <select class="input-select" formControlName="addStuentToGroup" name="group" id="Groupe">
                                    <option  value="">group 1</option>
                                    <option  value="">group 2</option>
                                    <option  value="">group 4</option>
                                 </select>
                            </div>
                            <div>
                                <label for="LigneTrans">Ligne trans</label>
                                 <select class="input-select" formControlName="addStuentToTransLine" name="addStuentToTransLine" id="LigneTrans">
                                    <option  value="">LigneTrans 1</option>
                                    <option  value="">LigneTrans 2</option>
                                    <option  value="">LigneTrans 4</option>
                                 </select>
                            </div>
            
                        </div>
                        <div class="brill-row no-center">
                            <div class="add-guardians">
                                <div class="places">
                                    <p class="blue">- il y a 40 places disponibles sur la ligne trans 6</p>
                                    <p class="blue">- il y a 40 places disponibles en classe 6 groupe D</p>
                                    <p class="blue">- il y a 3 places disponibles en classe 6 groupe b</p>
                                    <p class="blue">- il y a 10 places disponibles en classe 6 groupe c</p>
                                </div>
                            </div>
                            <input type="button" class="input add" value="réglage automatique">
                        </div>
                    </div>
            
                 </div>     
              <!-- HERE IS THE START OF THE STUDENT  OF THE STUDENT INFORMATION  STARTS -->   


                            <!-- HERE IS THE END OF STUDENT ADRESSES INFORMATIONS  STARTS -->   
                  <div class="brill-input-holders">              
                                 <div class="inputs-container" *ngSwitchCase="6" #LinkStudentToServices>
                                         <div class="brill-row">
                        
                                            <div>
                                                <label for="Ville">Ville</label>
                                                <input type="text" placeholder="Ville" class="input">
                                            </div>
                                            <div>
                                                <label for="Code postal">Code postal</label>
                                                <input type="text" placeholder="Code postal" class="input">
                                            </div>
                                            <div>
                                                <label for="line">Ligne adresse</label>
                                                <input type="text" placeholder="Ligne adresse" class="input">
                                            </div>
                                            <div>
                                                <label for="Ligne">Ligne adresse 2</label>
                                                <input type="text" placeholder="Ligne adresse 2" class="input">
                                            </div>
                        
                                        </div>
                                        <div class="map">
                                            <div>
                        
                                            </div>
                                        </div>
                                 </div>   
                  </div>                 
                              <!-- HERE IS THE START OF THE STUDENT  OF THE ADRESSES INFORMATIONS ENDS --> 
            </section>
        </form>
           <!-- END OF THE FORM ENTIRE BODY  -->      
            <!-- END OF THE FORM ENTIRE BODY  -->      
            <!-- END OF THE FORM ENTIRE BODY  -->      


                        <!-- HERE IS THE FOOTER STARTS  -->
            <!-- HERE IS THE TIME LINE  -->
        <div class="timeline col-md-12">

            <ul class="list-unstyled form-wizard-steps clearfix">
                <h5> {{ stepIndex.stepHeaderTitle }} </h5>
                 <li [class.active]="stepIndexNum == 1" [class.passed]="stepIndexNum > 1"><span>1</span></li>
                <li [class.active]="stepIndexNum == 2" [class.passed]="stepIndexNum > 2"><span>2</span></li>
                <li [class.active]="stepIndexNum == 3" [class.passed]="stepIndexNum > 3"><span>3</span></li>
                <li [class.active]="stepIndexNum == 4" [class.passed]="stepIndexNum > 4"><span>4</span></li>
                <li [class.active]="stepIndexNum == 5" [class.passed]="stepIndexNum > 5"><span>5</span></li>
                <li [class.active]="stepIndexNum == 6" [class.passed]="stepIndexNum > 6"><span>6</span></li>
                <li [class.active]="stepIndexNum == 7"><span>7</span></li>
                 <button *ngIf="stepIndexNum >= 2" class="brill-btn-3" (click)="backToStep()">BACK</button> 
                 <button class="brill-btn-2" (click)="Procced()">NEXT</button>              
            </ul>
        </div>
    <!-- HERE IS THE FOOTER STARTS  -->
    <div class="student-registration-footer">
        <div class="col-md-2 draftt-lable">
            <h4>UNFINISHED OPERATIONS</h4>
        </div>
       
        <div class="draftt-students-names col-md-8">
            <ul>
                <li *ngFor="let drafftedStudentName of drafftedStudentArray" id="{{ drafftedStudentName.id }}"> <img src="assets/icons/{{ drafftedStudentName.img }}" alt="">
                  <span> {{ drafftedStudentName.name + drafftedStudentName.lastname | slice:0:16}} </span>
                </li>                  
            </ul>
        </div>
        
        <div class="show-all-drafts col-md-2">
            <button class="brill-btn-light" data-toggle="modal" data-target="#brill_search_filter_modal_call">
                SHOW ALL </button>
        </div>
    </div>
 
</div>




<!-- ALL THE MODALS STARTS FROM HERE -->
	  <!-- DATA MODAL OF SEARCH AND FILTER PRODUCTS -->
	  <div id= "brill_search_filter_modal_call" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg brill-modal-dialog">
			  <div class="modal-content">
				   
					<section class="row brill-modal-container">
						<button class="brill-close-modal-top-righ" data-dismiss="modal"> <span class="lnr lnr-cross"></span></button>
                         <span class="search-in-draffts"><input class="brill-inputs" type="text" placeholder="Student or father name ..."></span>
                           
                         <div class="draftt-students-names-modal col-md-12">
                                <ul>
                                        <li class="col-md-2" *ngFor="let drafftedStudentName of drafftedStudentArray" id="{{ drafftedStudentName.id }}"> 
                                                <img src="assets/icons/{{ drafftedStudentName.img }}" alt="">
                                              <span> {{ drafftedStudentName.name + drafftedStudentName.lastname}} </span>
                                            </li>
                                            <li class="col-md-2" *ngFor="let drafftedStudentName of drafftedStudentArray" id="{{ drafftedStudentName.id }}"> 
                                                    <img src="assets/icons/{{ drafftedStudentName.img }}" alt="">
                                                  <span> {{ drafftedStudentName.name + drafftedStudentName.lastname}} </span>
                                                </li>
                                                <li class="col-md-2" *ngFor="let drafftedStudentName of drafftedStudentArray" id="{{ drafftedStudentName.id }}"> 
                                                        <img src="assets/icons/{{ drafftedStudentName.img }}" alt="">
                                                      <span> {{ drafftedStudentName.name + drafftedStudentName.lastname}} </span>
                                                    </li>      
                                                    <li class="col-md-2" *ngFor="let drafftedStudentName of drafftedStudentArray ; last as lastDraft ; let len = count" id="{{ drafftedStudentName.id }}"> 
                                                         <div *ngIf="!lastDraft">
                                                           <img  src="assets/icons/{{ drafftedStudentName.img }}" alt="">
                                                            <span> {{ drafftedStudentName.name + drafftedStudentName.lastname}} </span>
                                                        </div> 

                                                        <div class="last-draff" *ngIf="lastDraft">
                                                                  <span>+{{ len }}5 </span>
                                                                  <span> More </span>
                                                          </div> 
                                                    </li>                                                                                                 
                                </ul>
                            </div>
              
							 <div class="modal-footer">
									<button type="button" class="brill-btn-confirm-yes" data-dismiss="modal">GO BACK</button>
									<button type="button" class="brill-btn-confirm-cancel">APPLY SEARCH</button>
							 </div>
					   </section>
			  </div>
			</div>
		  </div>