@import './../../../../styles.scss';

.student-registration-parent{
 min-height: 600px;
}

.student-registration-header{
    text-align: center;
    margin-top: 20px;
}

.student-registration-parent h3{
    margin-bottom: 0px;
}

.student-registration-header p{
    color: #707070;
    font-size: 0.9em;
}


.student-registration-footer{
    margin-top: 10px;
    background-color: #ffffff;
    border: $brillContainerBorder;
    clear: both;
    height: 80px;
    border-radius: $brillBorder-raduis;
 }

.draftt-lable{
     background-color: #759492;
     height: 78px;
      border-top-left-radius: $brillBorder-raduis;
      border-bottom-left-radius: $brillBorder-raduis;      
}

.draftt-lable h4{
    text-align: center;
    padding-top: 6px;
    color: #ffffff;
}

.draftt-students-names {
    margin-top: 4px;
    display: block;
}


.draftt-students-names ul{
    list-style: none;
}

.draftt-students-names ul li{
    float: left;
    padding: 1px 10px 1px 10px;
    text-align: center;
}

.draftt-students-names ul li a{
  color: #3a3a3a;
 &:hover{
    color: #0291B7;   
 }
}

.draftt-students-names ul li img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #0291b7; 
    text-align: center;   
    cursor: pointer;    
}

.draftt-students-names ul li span{
  display: block;
  font-weight: 700;
  cursor: pointer;
}

//MODA;

.draftt-students-names-modal{
    clear: both;
    margin: 40px 20px 20px 20px;
}
.draftt-students-names-modal ul{
    list-style: none;
}

.draftt-students-names-modal ul li{
   margin: 10px 20px 10px 20px;
   float: left;
}

.draftt-students-names-modal ul li img{
    border-radius: 50%;
   width: 80px;
   height: 80px;
   border: 4px solid #0291b7; 
   cursor: pointer;   
}

.draftt-students-names-modal ul li  span{
  display: block;
  font-weight: 700;
  cursor: pointer;
 }

.show-all-drafts{
    margin: 4px 0px 0px 0px;
}

.last-draff{
    background-color: #efefef;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 4px solid #24272f;
    opacity: 0.6;
    cursor: pointer;
    &:hover{
        opacity: 1;        
    }
}

.last-draff span{
    font-size: 34px;
    padding: 12px 0px 0px 0px;
    font-size: 17px;
}

.student-fingerprint{
    clear: both;
    margin-bottom: 10px;
 }

.fingerprint-img{
    text-align: center;
    padding: 40px;
}

.fingerprint-img img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.fingerprint-img span{
    padding: 10px;
      font-size: 5em;
      color: #000;
      background-color: #E4E4E4;
      border-radius: 50%;
      padding: 34px;
}

.instructions{
    float: right;
    clear: both;
    padding: 20px 20px 20px 20px;
    background-color: #efeeee;
     border-radius: 10px;
    width: 100%;
}

.instructions ul{
    color: #FF0000;
    
}

.registration-body{
  min-height: 358px;
}

.timeline{
    clear: both;
    padding: 10px 20px 10px 20px;
     margin: 10px;
     text-align: center;
 }

 
  .timeline .form-wizard-steps li {
    width: 10%;
    float: left;
    position: relative;
  }
  .timeline .form-wizard-steps li::after {
    background-color: #f3f3f3;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
  }
  .timeline .form-wizard-steps li span {
    background-color: #dddddd;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    position: relative;
    text-align: center;
    width: 40px;
    z-index: 1;
  }
  .timeline .form-wizard-steps li:last-child::after {
    width: 50%;
  }
  .timeline .form-wizard-steps li.active span, .form-wizard .form-wizard-steps li.activated span {
    background-color: #0291B7;
    color: #ffffff;
  }
  .timeline .form-wizard-steps li.active::after, .form-wizard .form-wizard-steps li.activated::after {
    background-color: #0291B7;
    left: 35%;
    width: 80%;
    border-color: #0291B7;
  }

  .timeline .form-wizard-steps li.passed span, .form-wizard .form-wizard-steps li.activated span {
    background-color: #009D5E;
    color: #ffffff;
  }

  .timeline .form-wizard-steps li.passed::after, .form-wizard .form-wizard-steps li.activated::after {
    background-color: #009D5E;
    left: 60%;
    width: 80%;
    border-color: #0291B7;
}
  
  .timeline .form-wizard-steps li.activated::after {
    width: 100%;
    border-color: #0291B7;
  }
  .timeline .form-wizard-steps li:last-child::after {
    left: 0;
  }

  h5{
    padding: 4px;
     font-size: 1.3em;
    text-transform: uppercase;
    color: #0291B7;
  }

 .student-photo{
     text-align: center;
  }

 .video-stram{
    width: 500px;
    height: 460px;
    position: fixed;
    right: 20px;
    background-color: #474d5eeb;
    z-index: 3000;
    top: 40px;
    
 }

 .video-holder{
    width: 3000px;
    height: 200%;
    left: -740px;
    background-color: rgb(0 1 1 / 82%);
    position: fixed;
    top: -300px;
    z-index: 2000;
    overflow: hidden;
 }

 .video-stram .btns{
    padding: 10px;
    position: absolute;
    bottom: 20px;
    right: 20px;
 }

 .video-stram .snapshot{
     width: 500px;
     height: 500px;
 }

 .video-stram .snapshot img{
    width: 100%;
 }


 .search-in-draffts{
     float: left;
     width: 50%;     
 }

 .search-in-draffts input{
    clear: both; 
    width: 100%;
}



/************ PAGE 3 ,PAGE 5,PAGE 6,PAGE 7, ***************************************************/
/************ PAGE 3 ,PAGE 5,PAGE 6,PAGE 7, ***************************************************/
.brill-input-holders .inputs-container {
    margin: 30px 15px 0;
    padding: 20px 0px 0px 1px;
    background-color: #f5f5f5;
    border-radius: 30px;
    min-height: 340px;
  }
  
  .brill-input-holders .inputs-container .brill-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    align-items: center;        
    padding: 0px 20px 12px;
  }
  .brill-input-holders .inputs-container .brill-row.no-center
  {
    align-items: baseline !important;
    margin-top: 20px;
  }
  .brill-input-holders .inputs-container .brill-row>div
  {
    margin-right: 20px;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .brill-input-holders .inputs-container label
  {
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: 0px 20px 0px 20px;
  }
  .brill-input-holders .inputs-container input.input {
    background: #fdfdfd;
    border: 1px solid;
    width: 100%;
    padding: 11px 18px;
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: capitalize;
    border-radius: 30px;
    letter-spacing: .5px;
  }
  
  .brill-input-holders .inputs-container .input-select{
  background: #474d5e;
    border: 1px solid;
    width: 100%;
    padding: 11px 10px 12px 20px;
        font-weight: 600;
    font-size: 1.3rem;
    text-transform: capitalize;
    border-radius: 30px;
    letter-spacing: 0.5px;
    color: #ffffff;
}

  .brill-input-holders .inputs-container input[type='button'] {
    background: #474d5e;
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    max-width: 220px;
  }
  .brill-input-holders .inputs-container .btn-save>.add ,.inputs-container .brill-row>.add {
    background-color: #38679c;
    max-height: 45px;
    margin-left: 5px;
  }
  .brill-input-holders .inputs-container input.input::-webkit-input-placeholder {
    font-weight: 600;
    
  }
  
  .brill-input-holders .inputs-container input.input.obliger::-webkit-input-placeholder {
    color: #f57e7e;
  }
  
  
  
  .brill-input-holders .inputs-container .brill-row > .add-guardians {
    background-color: #ececec;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    margin-right: 30px;
    border-radius: 10px 20px 20px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 30px;
    flex-direction: row !important;
  }
  
  .brill-input-holders .inputs-container .brill-row > .add-guardians .item-guar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .brill-input-holders .inputs-container .brill-row > .add-guardians .item-guar > p {
    margin: 0;
    text-transform: uppercase;
    font-size: .9em;
  }
  
  .brill-input-holders .inputs-container .brill-row > .add-guardians .item-guar:first-of-type {
    padding: 14px 10px;
    background: #1b6c85;
    color: #fff;
    border-radius: 10px;
    font-size: 1.3rem;
    letter-spacing: .5px;
    text-transform: uppercase;
  }
  
  .brill-input-holders .inputs-container .add-guardians .circel-small.red {
    margin-left: 7px;
    padding: 5px;
    position: relative;
  }
  
  .brill-input-holders .inputs-container .add-guardians .circel-small.red::before {
    content: "";
    width: 4px;
    position: absolute;
    top: 4px;
    left: 2.9px;
    border: 1px solid #fff;
  }
  
  .brill-input-holders .inputs-container .add-guardians > .places {
    padding: 30px 40px;
  }
  
  .brill-input-holders .inputs-container .arabic {
    direction: rtl;
  }
  
  .brill-input-holders .blue {
    color: #0394c1;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .brill-input-holders .inputs-container > .map {
    margin: 20px 0 0;
  }
  
  .brill-input-holders .inputs-container > .map > div {
    border: 1px solid;
    height: 200px;
    width: 90%;
    margin: auto;
    border-radius: 20px;
  }
  .brill-input-holders .inputs-container .btn-save
  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 7px 43px 18px;
  }

/************ PAGE 3 ,PAGE 5,PAGE 6,PAGE 7, ***************************************************/

 