<div class="student-registration-parent col-md-12">
    <div class="student-registration-header">
            <h3>Register new student | {{ stepIndex.stepHeaderTitle }} </h3>
            <p>
              {{ stepIndex.stepDescription }} 
            </p> 
    </div>  

            <section [ngSwitch] = "stepIndexNum" >
                    <!-- HERE IS THE BODY OF THE FINGER PRINT SETTINGS AND INSERATIONS STARTS-->
                    <div *ngSwitchCase="1" #fingerPringSection>
                        <div class="registration-body">
                            <div class="student-fingerprint">
                            <div class="fingerprint-img">
                                <span class="lnr lnr-pointer-up signature-icon"></span>               
                            </div>
                            </div>
                        </div>    
                    </div>
                    <!-- HERE IS THE BODY OF THE FINGER PRINT SETTINGS AND INSERATIONS ENDS-->

                    <!-- HERE IS THE BODY OF THE STUDENT PHOTO UPLOADS AND INSERATIONS STARTS-->
                    <div *ngSwitchCase="2" #uploadPhotoSection>
                         <!-- RENDRING THE CONTAINER TO TAKE A PHOTO STARTS-->
                        <div class="video-holder" *ngIf="startWebcam">
                           <div  [@CamLuncherAnimation]="isLanchedAnimate ? 'lanched' : 'shated'" class="video-stram">
                                <webcam  [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="!webcamImage"
                                [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                                [videoOptions]="videoOptions"
                                [imageQuality]="1"
                                (cameraSwitched)="cameraWasSwitched($event)"
                                (initError)="handleInitError($event)"></webcam>
                               <div class="btns">
                                    <button *ngIf="!webcamImage" class="cupture-snap brill-btn-2" (click)="triggerSnapshot();">Take photo</button>
                                    <button *ngIf="!webcamImage" class="cupture-snap brill-btn-3" (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable">Alt cam</button>  
                                    <button class="cupture-snap brill-btn-0" (click)="toggleWebcam();"> Cancel</button>
                                    <button *ngIf="webcamImage" class="cupture-snap brill-btn-2" (click)="takeAnotherPhoto();"> Take another </button>                                    
                                    <button *ngIf="webcamImage" class="cupture-snap brill-btn-1" (click)="saveSnappedPhotot();"> Confirm </button>
                               </div>  
                              
                                 <div class="snapshot" [@SnappedTheImage]="webcamImage ? 'snapped' : 'dismissed' " *ngIf="webcamImage">
                                     <img [src]="webcamImage.imageAsDataUrl"/>
                                  </div>
                           </div>
                        </div> 
 

                            <div class="registration-body">
                                      <div class="student-photo">
                                        <div class="fingerprint-img">
                                            <img *ngIf="webcamImage" [src]="webcamImage.imageAsDataUrl"/>
                                              <span *ngIf="!webcamImage" class="lnr lnr-camera student-photo-icon"></span>              
                                        </div>

                                        <div class="takephoto">
                                                <button (click)="lunchWebcamToUser()" class="brill-btn-2">TAKE PHOTO</button>
                                            </div>

                                     </div>
                             </div>   
                    </div>
             <!-- HERE IS THE BODY OF THE STUDENT PHOTO UPLOADS AND INSERATIONS ENDS-->
           <!-- HERE IS THE BODY OF THE GUARDIAN INFORMATIONS STARTS-->
             <div *ngSwitchCase="3" #guardianInfoSection class="brill-input-holders">
                    <div class="inputs-container">
                       <form [formGroup]="GuardianForm"> 
                            <div class="brill-row">
                                <input formControlName="guardianCIN" type="text" placeholder="CIN" class="input obliger">
                                <input formControlName="guardianFirstName" type="text" placeholder="PRENOM" class="input obliger">
                                <input formControlName="guardianLastName" type="text" placeholder="NOM" class="input obliger">
                                
                             </div>
                            <div class="brill-row">
                                <input formControlName="guardianFirstNameArabic" type="text" placeholder=" الاسم العائلي بالعربية" class="input obliger arabic">
                                <input formControlName="guardianLastNameArabic" type="text" placeholder="   الاسم الشخصي بالعربية" class="input obliger arabic">
                                <input formControlName="guardianReleventType" type="text" placeholder="Relation avec l'étudiant" class="input obliger">

                            </div>
                            <div class="brill-row">
                                <input formControlName="guardianPhoneNumber" type="tel" placeholder="Num télé" class="input obliger" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
                                <input formControlName="guardianPhoneNumberAlt" type="tel" placeholder="Num télé 2" class="input" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
                                <input formControlName="guardianEmail" type="email" placeholder="Email" class="input">

                            </div>

                    
                            <div class="brill-row">
                                 <input formControlName="guardianPlaceOfBirth" type="text" placeholder="Lieu de naissance" class="input">
                                 <input formControlName="guardianDateOfBirth" matInput [matDatepicker]="guardianBirthDate" type="text" placeholder="Date de naissance" class="input">
                                 <mat-datepicker-toggle matSuffix [for]="guardianBirthDate"></mat-datepicker-toggle>
                                 <mat-datepicker #guardianBirthDate></mat-datepicker>
                                 <input type="button" class="input" value="Sauver le tuteur">
                            </div>
                            <div class="brill-row">
                                <div class="add-guardians">
                                    <div class="item-guar">
                                        <p>GARDIENS AJOUTÉS</p>
                                    </div>
                                    <div class="item-guar">
                                        <div class="circel-small bleu"></div>
                                        <p>Mohssine khaloufi</p>
                                        <div class="circel-small red">
                                            <i></i>
                                        </div>
                                    </div>
                                    <div class="item-guar">
                                        <div class="circel-small bleu"></div>
                                        <p>Mohssine khaloufi</p>
                                        <div class="circel-small red">
                                            <i></i>
                                        </div>
                                    </div>
                                    <div class="item-guar">
                                        <div class="circel-small bleu"></div>
                                        <p>Mohssine khaloufi</p>
                                        <div class="circel-small red">
                                            <i></i>
                                        </div>
                                    </div>
                                </div>
                                <input class="input add" type="button" value="ajouter un autre tuteur">
                            </div>
                        </form>
                        </div>
             </div> 
              <!-- HERE IS THE END OF GUARDIAN INFORMATION  END -->  
              
              
              <!-- HERE IS THE BODY OF THE STUDENT INFORMATION  STARTS -->   
             <div *ngSwitchCase="4" #StudentInfoSection class="brill-input-holders">
                <div class="inputs-container">
                    <div class="brill-row">
                        <input type="text" placeholder="CNE" class="input obliger">
                        <input type="text" placeholder="Num d'inscription" class="input obliger">
                        <input type="text" placeholder="Prénom" class="input obliger">
                        <input type="text" placeholder="Nom " class="input obliger">
                    </div>
                    <div class="brill-row">
                        <input type="text" placeholder="اسم الاب" class="input arabic">
                        <input type="text" placeholder="اسم الام" class="input arabic">
                        <input type="text" placeholder="الاسم العائلي" class="input arabic obliger">
                        <input type="text" placeholder="الاسم الشخصي" class="input arabic obliger">
                    </div>
                    <div class="brill-row">
                        <input type="text" placeholder="Sexe" class="input">
                        <input type="text" placeholder="Lieu de naissance" class="input">
                        <input type="text" placeholder="nom du père" class="input obliger">
                        <input type="text" placeholder="nom de la mère" class="input obliger">
                    </div>
                    <div class="brill-row">
                        <input type="date" placeholder="Date de naissance" class="input">
                        <input type="tel" placeholder="Num télé" class="input" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
                        <input type="text" placeholder="Statue" class="input">
                        <input type="text" placeholder="Soutien" class="input">
                    </div>
                    <div class="brill-row"><input type="email" placeholder="Email" class="input"></div>
                    
                </div>
             </div>

              <!-- HERE IS THE END OF STUDENT INFORMATION  END -->   
              <div class="brill-input-holders">              
                <div class="inputs-container" *ngSwitchCase="5" #LinkStudentToServices>
                        <div class="brill-row">
                            <input type="text" placeholder="Classe" class="input obliger">
                            <input type="text" placeholder="Ajouter à la classe" class="input obliger">
                            <input type="text" placeholder="Groupe" class="input obliger">
                            <input type="text" placeholder="Ligne trans" class="input obliger">
                        </div>
                        <div class="brill-row">
                            <div class="add-guardians">
                                <div class="places">
                                    <p class="blue">- il y a 40 places disponibles sur la ligne trans 6</p>
                                    <p class="blue">- il y a 40 places disponibles en classe 6 groupe D</p>
                                    <p class="blue">- il y a 3 places disponibles en classe 6 groupe b</p>
                                    <p class="blue">- il y a 10 places disponibles en classe 6 groupe c</p>
                                </div>
                            </div>
                            <input type="button" class="input" value="réglage automatique">
                        </div>
                    </div>
                </div>     
              <!-- HERE IS THE START OF THE STUDENT  OF THE STUDENT INFORMATION  STARTS -->   


                            <!-- HERE IS THE END OF STUDENT ADRESSES INFORMATIONS  STARTS -->   
                  <div class="brill-input-holders">              
                                 <div class="inputs-container" *ngSwitchCase="6" #LinkStudentToServices>
                                    <div class="brill-row">
                                        <input type="text" placeholder="Ville" class="input">
                                        <input type="text" placeholder="Code postal" class="input">
                                        <input type="text" placeholder="Ligne adresse" class="input">
                                        <input type="text" placeholder="Ligne adresse 2" class="input">
                                    </div>    
                                </div>   
                  </div>                 
                              <!-- HERE IS THE START OF THE STUDENT  OF THE ADRESSES INFORMATIONS ENDS --> 
            </section>
           <!-- END OF THE FORM ENTIRE BODY  -->      
            <!-- END OF THE FORM ENTIRE BODY  -->      
            <!-- END OF THE FORM ENTIRE BODY  -->      


                        <!-- HERE IS THE FOOTER STARTS  -->
         <div class="instructions col-md-12">
                   <ul [ngSwitch]="NotesFingerPrint.status">
                       <li *ngSwitchCase="0" [@NotesSignal]="'noneDetected'">{{NotesFingerPrint.message}}</li> 
                        <li *ngSwitchCase="1" [@NotesSignal]="'confirmFingerPrint'">{{NotesFingerPrint.message}}</li> 
                        <li *ngSwitchCase="2" [@NotesSignal]="'successedFingerPrint'">{{NotesFingerPrint.message}}</li>                 
                   </ul>
           </div>
            <!-- HERE IS THE TIME LINE  -->
        <div class="timeline col-md-12">

            <ul class="list-unstyled form-wizard-steps clearfix">
                <h5> {{ stepIndex.stepHeaderTitle }} </h5>
                 <li [class.active]="stepIndexNum == 1" [class.passed]="stepIndexNum > 1"><span>1</span></li>
                <li [class.active]="stepIndexNum == 2"><span>2</span></li>
                <li [class.active]="stepIndexNum == 3"><span>3</span></li>
                <li [class.active]="stepIndexNum == 4"><span>4</span></li>
                <li [class.active]="stepIndexNum == 5"><span>5</span></li>
                <li [class.active]="stepIndexNum == 6"><span>6</span></li>
                <li [class.active]="stepIndexNum == 7"><span>7</span></li>
                 <button *ngIf="stepIndexNum >= 2" class="brill-btn-3" (click)="backToStep()">BACK</button> 
                 <button class="brill-btn-2" (click)="Procced()">NEXT</button>              
            </ul>
        </div>
    <!-- HERE IS THE FOOTER STARTS  -->
    <div class="student-registration-footer">
        <div class="col-md-2 draftt-lable">
            <h4>UNFINISHED OPERATIONS</h4>
        </div>
       
        <div class="draftt-students-names col-md-8">
            <ul>
                <li *ngFor="let drafftedStudentName of drafftedStudentArray" id="{{ drafftedStudentName.id }}"> <img src="assets/icons/{{ drafftedStudentName.img }}" alt="">
                  <span> {{ drafftedStudentName.name + drafftedStudentName.lastname | slice:0:16}} </span>
                </li>                  
            </ul>
        </div>
        
        <div class="show-all-drafts col-md-2">
            <button class="brill-btn-light" data-toggle="modal" data-target="#brill_search_filter_modal_call">
                SHOW ALL </button>
        </div>
    </div>
 
</div>




<!-- ALL THE MODALS STARTS FROM HERE -->
	  <!-- DATA MODAL OF SEARCH AND FILTER PRODUCTS -->
	  <div id= "brill_search_filter_modal_call" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg brill-modal-dialog">
			  <div class="modal-content">
				   
					<section class="row brill-modal-container">
						<button class="brill-close-modal-top-righ" data-dismiss="modal"> <span class="lnr lnr-cross"></span></button>
                         <span class="search-in-draffts"><input class="brill-inputs" type="text" placeholder="Student or father name ..."></span>
                           
                         <div class="draftt-students-names-modal col-md-12">
                                <ul>
                                        <li class="col-md-2" *ngFor="let drafftedStudentName of drafftedStudentArray" id="{{ drafftedStudentName.id }}"> 
                                                <img src="assets/icons/{{ drafftedStudentName.img }}" alt="">
                                              <span> {{ drafftedStudentName.name + drafftedStudentName.lastname}} </span>
                                            </li>
                                            <li class="col-md-2" *ngFor="let drafftedStudentName of drafftedStudentArray" id="{{ drafftedStudentName.id }}"> 
                                                    <img src="assets/icons/{{ drafftedStudentName.img }}" alt="">
                                                  <span> {{ drafftedStudentName.name + drafftedStudentName.lastname}} </span>
                                                </li>
                                                <li class="col-md-2" *ngFor="let drafftedStudentName of drafftedStudentArray" id="{{ drafftedStudentName.id }}"> 
                                                        <img src="assets/icons/{{ drafftedStudentName.img }}" alt="">
                                                      <span> {{ drafftedStudentName.name + drafftedStudentName.lastname}} </span>
                                                    </li>      
                                                    <li class="col-md-2" *ngFor="let drafftedStudentName of drafftedStudentArray ; last as lastDraft ; let len = count" id="{{ drafftedStudentName.id }}"> 
                                                         <div *ngIf="!lastDraft">
                                                           <img  src="assets/icons/{{ drafftedStudentName.img }}" alt="">
                                                            <span> {{ drafftedStudentName.name + drafftedStudentName.lastname}} </span>
                                                        </div> 

                                                        <div class="last-draff" *ngIf="lastDraft">
                                                                  <span>+{{ len }}5 </span>
                                                                  <span> More </span>
                                                          </div> 
                                                    </li>                                                                                                 
                                </ul>
                            </div>
              
							 <div class="modal-footer">
									<button type="button" class="brill-btn-confirm-yes" data-dismiss="modal">GO BACK</button>
									<button type="button" class="brill-btn-confirm-cancel">APPLY SEARCH</button>
							 </div>
					   </section>
			  </div>
			</div>
		  </div>