<div class="brill-container-g classes col-md-12">

        <!-- BRILL BOTTOM IICONS  -->
        <div class="global-fixed-control-btns" (mouseover)="onMouseOverTheFixedMenu()" (mouseout)="onMouseOutTheFixedMenu()" [@fixedMenuClosed]="bottomFixedMenuCase ? 'onopned' : 'onclosed'">
            <button type="button" data-toggle="modal" data-target="#brill_modal_create_new_class"><i class="lnr lnr-plus-circle"> </i></button>
            <button (click) = "getClassesIdName()" type="button" data-toggle="modal" data-target="#brill_modal_create_new_class_section"><i class="lnr lnr-crop"> </i></button>
            <button type="button"><i class="lnr lnr-user"> </i></button>
            <button type="button"><i class="lnr lnr-pencil"> </i></button>
        </div>

    <div class="global-container-header">
        <h3> ALL CLASSES OF YOUR SCHOOL </h3>
    </div>  


    <div class="classes-list col-md-12">
        <!-- STUDENT TABLE-->
        <div class="brill-table-container col-md-10">
            <table class="table table-hover brill-tables">
                <thead>
                      <tr>
                          <th class="this">Num <button class="brill-table-hide-col" id="brill_table_hide_col" title="HIDE COLUMD" data-toggle='tooltip' data-placement='top'>
                                <span class="lnr lnr-eye"> </span>
                                </button> 
                        </th>
        
                        <th>Nom 
                            <button class="brill-table-hide-col" id="brill_table_hide_col" title="HIDE COLUMD" data-toggle='tooltip' data-placement='top'>
                                <span class="lnr lnr-eye"> </span>
                            </button> 
                        </th>
        
                        <th>Prénom
                            <button class="brill-table-hide-col" id="brill_table_hide_col" title="HIDE COLUMD" data-toggle='tooltip' data-placement='top'>
                                    <span class="lnr lnr-eye"> </span>
                            </button> 
                        </th>								
        
                        <th class="this">statut de paiement
                            <button class="brill-table-hide-col" id="brill_table_hide_col" title="HIDE COLUMD" data-toggle='tooltip' data-placement='top'>
                                <span class="lnr lnr-eye"> </span>
                            </button> 
                        </th>		
                    
                        <th class="this">date d'nissanse
                            <button class="brill-table-hide-col" id="brill_table_hide_col" title="HIDE COLUMD" data-toggle='tooltip' data-placement='top'>
                                <span class="lnr lnr-eye"> </span>
                            </button> 
                        </th>
                        <th>Operationse <button class="brill-table-hide-col" id="brill_table_hide_col" title="HIDE COLUMD" data-toggle='tooltip' data-placement='top'>
                            <span class="lnr lnr-eye"> </span>
                     </button> </th>									
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="this">1</td>
                        <td>Ait rha</td>
                        <td>mohamed</td>
                         <td class="this">Bien</td>
                        <td class="this">2021/01/02</td>
                        <td class="brill-table-operations">
                            <span><button data-toggle="tooltip" data-placement="bottom" title="EDIT STUDENT'S DETAILS"><i class="lnr lnr-pencil"></i></button></span>
                            <span><button data-toggle="tooltip" data-placement="bottom" title="SHOW ALL STUDENT'S DETAILS"><i class="lnr lnr-list"></i></button></span>
                            <span><button id="brillTableDeleteStudent" data-toggle="tooltip" data-placement="bottom" title="DELETE STUDENT'S DETAILS"><i class="lnr lnr-cross"></i></button></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="this">1</td>
                        <td>Steve</td>
                        <td>Jobs</td>
                        <td>@steve</td>
                        <td class="this">Bien</td>
                         <td class="brill-table-operations">
                            <span><button data-toggle="tooltip" data-placement="bottom" title="EDIT STUDENT'S DETAILS"><i class="lnr lnr-pencil"></i></button></span>
                            <span><button data-toggle="tooltip" data-placement="bottom" title="SHOW ALL STUDENT'S DETAILS"><i class="lnr lnr-list"></i></button></span>
                            <span><button id="brillTableDeleteStudent" data-toggle="tooltip" data-placement="bottom" title="DELETE STUDENT'S DETAILS"><i class="lnr lnr-cross"></i></button></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="this">1</td>
                        <td>Steve</td>
                        <td>Jobs</td>
                        <td>@steve</td>
                        <td class="this">Bien</td>
                         <td class="brill-table-operations">
                            <span><button data-toggle="tooltip" data-placement="bottom" title="EDIT STUDENT'S DETAILS"><i class="lnr lnr-pencil"></i></button></span>
                            <span><button data-toggle="tooltip" data-placement="bottom" title="SHOW ALL STUDENT'S DETAILS"><i class="lnr lnr-list"></i></button></span>
                            <span><button id="brillTableDeleteStudent" data-toggle="tooltip" data-placement="bottom" title="DELETE STUDENT'S DETAILS"><i class="lnr lnr-cross"></i></button></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="this">1</td>
                        <td>Steve</td>
                        <td>Jobs</td>
                        <td>@steve</td>
                        <td class="this">Bien</td>
                         <td class="brill-table-operations">
                            <span><button data-toggle="tooltip" data-placement="bottom" title="EDIT STUDENT'S DETAILS"><i class="lnr lnr-pencil"></i></button></span>
                            <span><button data-toggle="tooltip" data-placement="bottom" title="SHOW ALL STUDENT'S DETAILS"><i class="lnr lnr-list"></i></button></span>
                            <span><button id="brillTableDeleteStudent" data-toggle="tooltip" data-placement="bottom" title="DELETE STUDENT'S DETAILS"><i class="lnr lnr-cross"></i></button></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="this">1</td>
                        <td>Steve</td>
                        <td>Jobs</td>
                        <td>@steve</td>
                        <td class="this">Bien</td>
                         <td class="brill-table-operations">
                            <span><button data-toggle="tooltip" data-placement="bottom" title="EDIT STUDENT'S DETAILS"><i class="lnr lnr-pencil"></i></button></span>
                            <span><button data-toggle="tooltip" data-placement="bottom" title="SHOW ALL STUDENT'S DETAILS"><i class="lnr lnr-list"></i></button></span>
                            <span><button id="brillTableDeleteStudent" data-toggle="tooltip" data-placement="bottom" title="DELETE STUDENT'S DETAILS"><i class="lnr lnr-cross"></i></button></span>
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>

 <!--START SIDE BAR FIX RIGHT-->
 <div class="col-md-2 brill-left-sidebar-search-tab">
    <div class="select-options-container">
      <input class="brill-inputs brill-side-bar-search-name" placeholder="nom de etudiant ...">
      <select class="brill-inputs brill-inputs-select-text" id="select_class_number">
        <option value="sal1">sal1</option>
        <option value="sal1">sal1</option>
        <option value="sal1">sal1</option>
        <option value="sal1">sal1</option>
        <option value="sal1">sal1</option>
        <option value="sal1">sal1</option>
        <option value="sal1">sal1</option>
        <option value="sal1">sal1</option>
        <option value="sal1">sal1</option>
        <option value="sal1">sal1</option>
        <option value="sal1">sal1</option>
        <option value="sal1">sal1</option>												
      </select>

      <select class="brill-inputs brill-inputs-select-text" id="select_class_number2">
            <option value="sal1">sal1</option>
            <option value="sal1">sal1</option>
            <option value="sal1">sal1</option>
            <option value="sal1">sal1</option>
            <option value="sal1">sal1</option>
            <option value="sal1">sal1</option>
            <option value="sal1">sal1</option>
            <option value="sal1">sal1</option>
            <option value="sal1">sal1</option>
            <option value="sal1">sal1</option>
            <option value="sal1">sal1</option>
            <option value="sal1">sal1</option>												
          </select>

          <select class="brill-inputs brill-inputs-select-text" id="select_class_number3">
                <option value="sal1">sal1</option>
                <option value="sal1">sal1</option>
                <option value="sal1">sal1</option>
                <option value="sal1">sal1</option>
                <option value="sal1">sal1</option>
                <option value="sal1">sal1</option>
                <option value="sal1">sal1</option>
                <option value="sal1">sal1</option>
                <option value="sal1">sal1</option>
                <option value="sal1">sal1</option>
                <option value="sal1">sal1</option>
                <option value="sal1">sal1</option>												
              </select>

              <select class="brill-inputs brill-inputs-select-text" id="select_class_number4">
                    <option value="sal1">sal1</option>
                    <option value="sal1">sal1</option>
                    <option value="sal1">sal1</option>
                    <option value="sal1">sal1</option>
                    <option value="sal1">sal1</option>
                    <option value="sal1">sal1</option>
                    <option value="sal1">sal1</option>
                    <option value="sal1">sal1</option>
                    <option value="sal1">sal1</option>
                    <option value="sal1">sal1</option>
                    <option value="sal1">sal1</option>
                    <option value="sal1">sal1</option>												
                  </select>
    </div>						
</div>



    </div>
</div>



<!--  HERE ARE ALL THE MODALS TO ADD NEW  -->
<!--  HERE ARE ALL THE MODALS TO ADD NEW  -->
<!--  HERE ARE ALL THE MODALS TO ADD NEW  -->
<!--  HERE ARE ALL THE MODALS TO ADD NEW  -->
<!--  HERE ARE ALL THE MODALS TO ADD NEW  -->
<!-- ALL THE MODALS STARTS FROM HERE -->
	  <!-- DATA MODAL OF ADD NEW CLASSSS -->
	  <div id= "brill_modal_create_new_class" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg brill-modal-dialog">
          <div class="modal-content">
            <form [formGroup] = "newClassForm" (ngSubmit)="submitNewClass()">

                <section class="row brill-modal-container">
                    <button class="brill-close-modal-top-righ" data-dismiss="modal"> <span class="lnr lnr-cross"></span></button>
                          
                      <div class="add-new-staff">
                          <h3> ADD NEW CLASS</h3>
                         <div class="brill-input-holders" formGroupName = "class"> 
                          <div class="inputs-container">
                            <div class="brill-row">
                                <div>
                                    <label for="class_name">Class name</label>
                                    <input formControlName = "name" name="class_name" type="text" placeholder="class name" class="input obliger">
                                </div>
                                <div>
                                    <label for="clas_code">Class code</label>
                                    <input formControlName = "code" name="clas_code" type="text" placeholder="Class code" class="input obliger">
                                </div>
                                <div>
                                    <label for="class_number">Class Number</label>
                                    <input name="class_number" type="number" placeholder="Number" class="input obliger">
                                </div>
                                <div>
                                    <label for="staff_wire">Wire</label>
                                     <select class="input-select"  name="staff_wire" id="staff_sexe">
                                         <option selected value="">Primary school</option>
                                         <option selected value="">Secondary school</option>
                                         <option selected value="">High school</option>
                                      </select>
                                </div>
                            </div>

                            <div class="brill-row">
                                <div>
                                    <label for="class_desc">Class Description</label>
                                    <textarea  formControlName = "description" name="class_desc" rows="4" placeholder="You can leave it blank if you want"> </textarea>
                                </div>
                                <div>
                                    <label for="class_notes">Class Notes</label>
                                    <textarea formControlName = "note" name="class_notes" rows="4" placeholder="You can leave it blank if you want"> </textarea>
                                </div>   
                            </div>
                        
                          </div>
                        </div>
                      </div>
          <hr>
                         <div class="modal-footer">
                                <button type="button" class="brill-btn-2" data-dismiss="modal">GO BACK</button>
                                <button type="submit" class="brill-btn-3">ADD CLASS</button>
                         </div>
                   </section>
                </form>
          </div>
        </div>
      </div>



      <!-- ALL THE MODALS STARTS FROM HERE -->
	  <!-- DATA MODAL OF ADD NEW CLALSS SECTION -->
	  <div id= "brill_modal_create_new_class_section" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg brill-modal-dialog">
          <div class="modal-content">
               <form [formGroup] = "addNewSectionForm" (ngSubmit) = "submitNewSction()">
                <section class="row brill-modal-container">
                    <button class="brill-close-modal-top-righ" data-dismiss="modal"> <span class="lnr lnr-cross"></span></button>
                          
                      <div class="add-new-staff">
                          <h3> ADD NEW SECTION TO CLASS</h3>
                         <div class="brill-input-holders"> 
                          <div class="inputs-container" formGroupName = "section">
                            <div class="brill-row">
                                <div>
                                    <label for="section_class_name">Class name</label>
                                    <select formControlName = "class_id" class="input-select"  name="class_name" id="section_class_name">
                                        <option  value="1">class 1 </option>
                                        <option  value="2">class 2</option>
                                        <option  value="3">class 3</option>
                                     </select>
                                </div>
                                <div>
                                    <label for="">Number of seats</label>
                                    <input formControlName = "seats" name="section_number_seats" type="number" placeholder="Number of seats" class="input obliger">
                                </div>
                                <div>
                                    <label for="section_name">Section Name</label>
                                    <input formControlName = "name" name="section_name" type="text" placeholder="Section name" class="input obliger">
                                </div>
                                <div>
 
                                        <label for="section_code">Section code</label>
                                        <input formControlName = "code" name="section_code" type="text" placeholder="Section code" class="input obliger">
                                 </div>
                            </div>

                            <div class="brill-row">
                                <div>
                                    <label for="section_notes">Section Notes</label>
                                    <textarea formControlName = "note" name="section_notes" id = "section_notes" rows="4" placeholder="You can leave it blank if you want"> </textarea>
                                </div>
                                <div>
                                    <label for="section_desc">Section Discription</label>
                                    <textarea formControlName = "description" name="class_desc" rows="4" placeholder="You can leave it blank if you want"> </textarea>
                                </div>
                            </div>
                        
                          </div>
                        </div>
                      </div>
                      <!-- ADD MATERIALS TO THE GROUP -->
                        <div class="sections-subject-choices">
                            <div class="row draggable-sects">
                               <h3>Selected Subjects</h3>
                               <div *ngFor= "let subject of allSubjectsList">
                                    <button style="background-color: {{ subject.color }};" #subjectItemRef type="button" (click)="onCheckSubject(subjectItemRef,subject.id)" class="subject-item col-md-2">
                                        {{ subject.name }}  
                                    </button>
                                </div>
                            </div>
                        </div>
                      <!-- FOOTER FOR THE BUTTON ADD -->
                      <hr>
                         <div class="modal-footer">
                                <button type="button" class="brill-btn-2" data-dismiss="modal">GO BACK</button>
                                <button type="submit" class="brill-btn-3">Add Sect</button>
                         </div>
                   </section>
                </form> 
          </div>
        </div>
      </div>

    <!-- //DATA MODAL ASSIGN HOURS PER WEEK OR SEMESTER 
    // DATA MOADAL SSIGN HOURS PER MONTH OE SEMESTER TO THE 
    //SUBJECT ADDED TO THE CLASS 
      

    <div id= "brill_modal_assign_to_selected_object" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg brill-modal-dialog">
          <div class="modal-content">
 
                <section class="row brill-modal-container">
                    <button class="brill-close-modal-top-righ" data-dismiss="modal"> <span class="lnr lnr-cross"></span></button>
                          
                      <div class="add-new-staff">
                          <h3> ASSIGN TO SUBJECT</h3>
                         <div class="brill-input-holders" formGroupName = "classs"> 
                          <div class="inputs-container">
                        
                          </div>
                        </div>
                      </div>
          <hr>
                         <div class="modal-footer">
                                <button type="button" class="brill-btn-2" data-dismiss="modal">GO BACK</button>
                                <button type="submit" class="brill-btn-3">CONFIRM</button>
                         </div>
                   </section>
           </div>
        </div>
      </div>   -->
      