<div class="brill-container-g time-tables col-md-12"> 
    <!-- RIGHT BOTTOM FIXED MENU -->
        <!-- BRILL BOTTOM IICONS  -->    
        <!-- RIGHT BOTTOM FIXED MENU -->
    <!-- BRILL BOTTOM IICONS  -->
    <div class="global-fixed-control-btns">
        <button type="button" data-toggle="modal" data-target="#brill_modal_create_new_designation"><i class="lnr lnr-plus-circle"> </i></button>
        <button type="button"><i class="lnr lnr-pencil"> </i></button>
    </div>



        <div class="global-container-header">
             <h3> DESIGNATION </h3>
             <p> Designations help you add unlimited jobs in your school , you can set roles</p>
        </div> 
        
   <div class="designatio-list col-md-12">

                <div *ngFor = "let role of allRoles" class="designation-card col-md-12">
                        <div class="designation-card-control">
                            <button><i class="lnr lnr-cross-circle"></i></button>
                            <button><i class="lnr lnr-pencil"></i></button>
                        </div> 
                    <h3>{{ role.name }}</h3>
                    <p> {{ role.description }}
                    </p>
                    <span class="designation-batch">
                        <i class="lnr lnr-star"></i>
                    </span>
                </div>
   
    </div>
 
</div>        


<!--  HERE ARE ALL THE MODALS TO ADD NEW  -->
<!--  HERE ARE ALL THE MODALS TO ADD NEW  -->
<!--  HERE ARE ALL THE MODALS TO ADD NEW  -->
<!-- ALL THE MODALS STARTS FROM HERE -->
	  <!-- DATA MODAL OF ADD NEW CLASSSS -->
	  <div id= "brill_modal_create_new_designation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg brill-modal-dialog">
          <div class="modal-content">
            <form [formGroup]="addRoleForm" (ngSubmit)="onSubmitNewRole()">
                <section class="row brill-modal-container">
                    <button class="brill-close-modal-top-righ" data-dismiss="modal"> <span class="lnr lnr-cross"></span></button>
                          
                      <div class="add-new-designation">
                          <h3> ADD NEW DESINATION</h3>
                         <div class="brill-input-holders"> 
                        <div class="inputs-container">
                           <div class="brill-row" formGroupName = "role">
                                     <div>
                                        <label for="designation">Designation name</label>
                                        <input formControlName = "name" name="desig" title="For example : teacher , driver ...etc" type="text" placeholder="Designation name" class="input">
                                    </div>

                                    <div>
                                        <label for="designation">Designation code</label>
                                        <input formControlName = "code" name="desig" title="Using a code helps us understand more about the role" type="text" placeholder="Designation code" class="input">
                                    </div>

                                    <div>
                                        <label for="designation">Designation description</label>
                                       <textarea formControlName = "description" placeholder="Exp : Staff can add and delete student..." rows="4" class="input"></textarea>
                                     </div>

                                     <div>
                                        <label for="designation">Designation notes</label>
                                       <textarea formControlName = "note" rows="4" class="input"></textarea>
                                     </div>
                            </div>
                            <br>
                            <hr>
                        
                              <div class="brill-row" style="background-color: #eaf4f5;">
                                <table class="col-md-12 designation-table-roles">
                                    <thead>
                                        <th></th>
                                        <th class="role-delete"><h4>CAN DELETE</h4></th>
                                        <th class="role-update"><h4>CAN UPDATE</h4></th>
                                        <th class="role-add"><h4>CAN ADD</h4></th>
                                        <th class="role-view"><h4>CAN VIEW</h4></th>
                                    </thead>

                                   <tbody>


                <tr>
                    <td>
                        <h4>STUDENT MODULE</h4>
                    </td>

                    <td>
                        <div class="preveliges-contol">
                            <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    </td>

                    <td>
                        <div class="preveliges-contol">
                            <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    </td>

                    <td>
                        <div class="preveliges-contol">
                            <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    </td>

                    <td>
                        <div class="preveliges-contol">
                            <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h4>STAFF MODULE</h4>
                    </td>

                    <td>
                        <div class="preveliges-contol">
                            <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    </td>

                    <td>
                        <div class="preveliges-contol">
                            <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    </td>

                    <td>
                        <div class="preveliges-contol">
                            <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    </td>

                    <td>
                        <div class="preveliges-contol">
                            <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h4>PAYMENT MODULE</h4>
                    </td>

                    <td>
                        <div class="preveliges-contol">
                            <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    </td>

                    <td>
                        <div class="preveliges-contol">
                            <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    </td>

                    <td>
                        <div class="preveliges-contol">
                            <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    </td>

                    <td>
                        <div class="preveliges-contol">
                            <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <h4>TIMELINE MODULE</h4>
                    </td>

                    <td>
                        <div class="preveliges-contol">
                            <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    </td>
                    <td>
                        <div class="preveliges-contol">
                            <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    </td>
                    <td>
                        <div class="preveliges-contol">
                            <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    </td>

                    <td>
                        <div class="preveliges-contol">
                            <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>
                        
                          </div>
                        </div>
                      </div>
          <hr>
                         <div class="modal-footer">
                                <button type="button" class="brill-btn-2" data-dismiss="modal">GO BACK</button>
                                <button type="submit" class="brill-btn-3">ADD Desig</button>
                         </div>

                   </section>
                </form>

           </div>
        </div>
      </div>