.designation-card{
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #d4d4d4;
    margin: 4px 0px 4px 0px;
}

.designation-card-control{
    background-color: #cccccc;
    padding: 6px;
    top: 0px;
    right: 0px;
    position: absolute;
 }

.designation-card-control button{
    padding: 10px;
    width: 40px;
    height: 40px;
    font-size: large;
    border-radius: 40px;
    border: 1px solid #000000;
    border: none;
    background: #f3f3f3;
    margin: 0px 2px 0px 2px 0px;
    color: #000000;
    border: solid 1px #a9a9a9;
    margin-left: 2px;
    margin-right: 2px;
    &:hover{
        background: #e4e4e4;
    }
}


.designation-card h3{
    text-align: left;
}

.designation-card p{
    padding: 0px 4px 0px 4;
}


.designation-batch{
    float: right;
    background-color: #8a00b1;
    padding: 8px;
    font-size: 1.6em;
    border-radius: 50%;
    color: #ffffff;
    font-weight: 900;
}



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .preveliges-contol{
      text-align: center;
      padding-top: 18px;

  }
  .preveliges-contol .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .preveliges-contol .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .preveliges-contol input:checked + .slider {
    background-color: #12d681;
  }
  
 .preveliges-contol input:focus + .slider {
    box-shadow: 0 0 1px #12d681;
  }
  
 .preveliges-contol input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
 .preveliges-contol .slider.round {
    border-radius: 34px;
  }
  
 .preveliges-contol .slider.round:before {
    border-radius: 50%;
  }

  .designation-table-roles{
      padding: 20px;
  }

  .designation-table-roles h4{
       margin-top: 20px;
       font-size: 1.2em;
  }
  
  .designation-table-roles .role-delete h4{
    background-color: #ce0430;
    padding: 6px;
    color: #ffffff;
    width: 90%;
    text-align: center;
    border-radius: 20px;

  }

  .designation-table-roles .role-update h4{
    background-color: #ce4404;
    padding: 6px;
    color: #ffffff;
    width: 90%;
    text-align: center;
    border-radius: 20px;

  }

  .designation-table-roles .role-add h4{
    background-color: #e6c300;
    padding: 6px;
    color: #ffffff;
    width: 90%;
    text-align: center;
    border-radius: 20px;

  }

  .designation-table-roles .role-view h4{
    background-color: #0087d6;
    padding: 6px;
    color: #ffffff;
    width: 90%;
    text-align: center;
    border-radius: 20px;

  }

  



