.subject-list{
    background-color: #ffffff;
    margin-top: 10px;
       padding-left: 60px;
     padding-right: 60px;
 
}

.subject-list{

}

.subject-list i{
    padding: 30px 0px 30px 0px;
    border-radius: 8px;
     color: #ffffff;
    display: block;
    text-align: center;
     font-size: 3em;
    margin: auto;
    box-shadow: 1px 2px 6px;


}

.subject-list h4{
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 1.4em;
    margin-top: 10px;
 
}

.subject-card{
}
.subject-card-math i{
    background-color: #e83270;
}

.subject-card-math h4{
    color: #e83270;
}

//ARABIC SUBECT
.subject-card-ar i{
    background-color: #6820bd;
}
.subject-card-ar h4{
    color: #6820bd;
}
 
//ENGLISH SUBECT
.subject-card-eng i{
    background-color: #00be85;
}
.subject-card-eng h4{
    color: #00be85;
}
 
 //PHYSICS SUBECT
.subject-card-physic i{
    background-color: #b5dd00;
}
.subject-card-physic h4{
    color: #b5dd00;
}

 
 //ISLAMIC SUBECT
 .subject-card-islamic i{
    background-color: #8300c0;
}
.subject-card-islamic h4{
    color: #8300c0;
}

 //GEO SUBECT
 .subject-card-geo i{
    background-color: #0084a5;
}
.subject-card-geo h4{
    color: #0084a5;
}

 