
<div id="sidebar-nav" class="sidebar">
    <!-- SIDEBAR CLOSE BTN FORM MOBILR -->
    <div class="brill-sidebar-mobile-close btn-toggle-fullwidth">
           <button id="hideSideBarMobile" type="button"> 
                <i class="lnr lnr-arrow-left-circle"></i> GO BACK 
           </button>
    </div><br>
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li>
                    <a [routerLink]="['/students/register']" class="">
                        <i class="lnr lnr-license"></i> 
                        <span>Registration</span>
                    </a>

                    <a [routerLink]="['/staff/staffs']" class="">
                        <i class="lnr lnr-briefcase"></i> 
                        <span>staffs</span>
                    </a>

                    <a [routerLink]="['class/classess']" class="">
                        <i class="lnr lnr-graduation-hat"></i> 
                        <span>classess</span>
                    </a>  
                    
                    <a [routerLink]="['student/make-payment']" class="">
                        <i class="lnr lnr-diamond"></i> 
                        <span>Student payment</span>
                    </a> 

                    <a [routerLink]="['timetable/check-time-table']" class="">
                        <i class="lnr lnr-calendar-full"></i> 
                        <span>Time table</span>
                    </a> 

                    <a [routerLink]="['subjects/subject']" class="">
                        <i class="lnr lnr-text-size"></i> 
                        <span>Subject</span>
                    </a> 

                    <a [routerLink]="['students/attendance']" class="">
                        <i class="lnr lnr-calendar-full"></i> 
                        <span>Attandance S</span>
                    </a>

                    <a [routerLink]="['school/designations']" class="">
                        <i class="lnr lnr-enter"></i> 
                        <span>DESIGNATION</span>
                    </a>

                </li>
            </ul>
        </nav>
    </div>    
</div>
<!-- END LEFT SIDEBAR -->





