<div id="sidebar-nav" class="sidebar">
    <!-- SIDEBAR CLOSE BTN FORM MOBILR -->
    <div class="brill-sidebar-mobile-close btn-toggle-fullwidth">
           <button id="hideSideBarMobile" type="button"> 
                <i class="lnr lnr-arrow-left-circle"></i> GO BACK 
           </button>
    </div><br>
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li>
                    <a href="index.html" class="active brill-link">
                        <i class="lnr lnr-home"></i> 
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#subPages" data-toggle="collapse" class="collapsed brill-link"><i class="lnr lnr-file-empty"></i> <span>Pages</span> <i class="icon-submenu lnr lnr-chevron-right"></i></a>
                    <div id="subPages" class="collapse ">
                        <ul class="nav">
                            <li><a href="page-profile.html" class="">Profile</a></li>
                            <li><a href="page-login.html" class="">Login</a></li>
                            <li><a href="page-lockscreen.html" class="">Lockscreen</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#subDoc" data-toggle="collapse" class="collapsed brill-link row">							
                            <div class="col-xs-2">
                                <i class="lnr lnr-file-empty"></i>
                            </div>

                         <span class="col-xs-7">Recherche document d'évaluation </span>
                          <i class="icon-submenu lnr lnr-chevron-right col-xs-2"></i>
                    </a>
                    <div id="subDoc" class="collapse">
                        <ul class="nav">
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-pushpin"></i>
                                    Imprimé et quotidien
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Rechercher l'autorisation d'entrer
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Rechercher le journal
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Communiquer avec les parents
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Déclin cognitif
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-calendar-full"></i>
                                    Imprimé et hebdomadaire
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-bookmark"></i>
                                    Recherche d'absences consécutives
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Imprimé et hebdomadaire
                                </a>
                            </li>
                            <li>
                                
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Statistiques de transport
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Absence perdue
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="#subInscription" data-toggle="collapse" class="collapsed brill-link"><i class="lnr lnr-file-empty"></i> <span>Inscription</span> <i class="icon-submenu lnr lnr-chevron-right"></i></a>
                    <div id="subInscription" class="collapse ">
                        <ul class="nav">
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-pushpin"></i>
                                    Élève
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Directeur pédagogique
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Chauffeur
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Contremaître
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Écrivain
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-calendar-full"></i>
                                    Employé
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-bookmark"></i>
                                    Cadre pédagogique
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Voiture
                                </a>
                            </li>
                            <li>
                                
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    professeur
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="#subMembres" data-toggle="collapse" class="collapsed brill-link"><i class="lnr lnr-file-empty"></i> <span>Membres</span> <i class="icon-submenu lnr lnr-chevron-right"></i></a>
                    <div id="subMembres" class="collapse ">
                        <ul class="nav">
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-pushpin"></i>
                                    Détermination du montants
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Rapports
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Salles
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Projet scolaire
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Performance
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-calendar-full"></i>
                                    Surveillance automatique
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>

                <li>
                    <a href="#subInteraction" data-toggle="collapse" class="collapsed brill-link"><i class="lnr lnr-file-empty"></i> <span>Interaction</span> <i class="icon-submenu lnr lnr-chevron-right"></i></a>
                    <div id="subInteraction" class="collapse ">
                        <ul class="nav">
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-pushpin"></i>
                                    Évaluation
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Rapports
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Ajouter album
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Statistiques feuille d'unité
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Message
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-calendar-full"></i>
                                    Nouvelles
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-bookmark"></i>
                                    Ajouter video
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Ajouter galerie
                                </a>
                            </li>
                            <li>
                                
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Messages électroniques
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="#subRappel" data-toggle="collapse" class="collapsed brill-link"><i class="lnr lnr-file-empty"></i> <span>Rappel</span> <i class="icon-submenu lnr lnr-chevron-right"></i></a>
                    <div id="subRappel" class="collapse ">
                        <ul class="nav">
                        
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Rappel holistique
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Rappel montant mensuel
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Rappel de transfert
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Rappel d'assurance
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>
                
                <li>
                    <a href="#subAutre" data-toggle="collapse" class="collapsed brill-link"><i class="lnr lnr-file-empty"></i> <span>Autre</span> <i class="icon-submenu lnr lnr-chevron-right"></i></a>
                    <div id="subAutre" class="collapse ">
                        <ul class="nav">
                        
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Liste jours fériés
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Montant total
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Statistiques du réservoir de carburant
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Remplissez le réservoir de carburant
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Absence mensuelle
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="#subPapierCalendrier" data-toggle="collapse" class="collapsed brill-link"><i class="lnr lnr-file-empty"></i> <span>Papier calendrier</span> <i class="icon-submenu lnr lnr-chevron-right"></i></a>
                    <div id="subPapierCalendrier" class="collapse">
                        <ul class="nav">
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-pushpin"></i>
                                    Absence
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Papier calendrier hebdomadaire
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Papier calendrier quotidien
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Papier calendrier mensuel
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Calendrier
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-calendar-full"></i>
                                    Permis d'entrée
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-bookmark"></i>
                                    Papier unitaire
                                </a>
                            </li>
    
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="#subDocuments" data-toggle="collapse" class="collapsed brill-link"><i class="lnr lnr-file-empty"></i> <span>Documents</span> <i class="icon-submenu lnr lnr-chevron-right"></i></a>
                    <div id="subDocuments" class="collapse">
                        <ul class="nav">
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-pushpin"></i>
                                    Télécharger des documents
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Documents authentifiés
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            
                <li>
                    <a href="#subStatistiques" data-toggle="collapse" class="collapsed brill-link"><i class="lnr lnr-file-empty"></i> <span>Statistiques</span> <i class="icon-submenu lnr lnr-chevron-right"></i></a>
                    <div id="subStatistiques" class="collapse">
                        <ul class="nav">
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-pushpin"></i>
                                    Statistiques d'absence
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Liste noire
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Statistiques problèmes signalés
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Ajouter des dépenses
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Statistiques de performance
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-calendar-full"></i>
                                    Statistiques et règlements transport
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-bookmark"></i>
                                    Statistiques des saisons
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-bookmark"></i>
                                    Statistiques des tâches
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="#subDirection" data-toggle="collapse" class="collapsed brill-link"><i class="lnr lnr-file-empty"></i> <span>La direction</span> <i class="icon-submenu lnr lnr-chevron-right"></i></a>
                    <div id="subDirection" class="collapse ">
                        <ul class="nav">
                        
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Parametres
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Base de donnée
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Archive
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    certificat de départ
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="lnr lnr-chart-bars"></i>
                                    Contrôle IP
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </nav>
    </div>
</div>
<!-- END LEFT SIDEBAR -->
