<div class="brill-container-g student-payment col-md-12">
    <div class="global-container-header">
        <h3> PAYMENT MASTER</h3>
         <p> Create new payment master to set diffrent payment amount for each class </p>
    </div>  


         
        <div class="paymnet-master-list col-md-12">

            <div  class="paymnet-master-card col-md-3">
                    <div class="paymnet-master-card-control">
                        <button><i class="lnr lnr-cross-circle"></i></button>
                        <button><i class="lnr lnr-pencil"></i></button>
                    </div> 
                <h3> NAME</h3>
              <span class="fas fa-file-invoice-dollar master-detail"> &nbsp; Trans fee</span>
              <span class="fas fa-money-bill-alt master-detail"> &nbsp; 300 MAD</span>
              <span class="fas fa-calendar-check master-detail"> &nbsp; 23-04-2021</span>
              <span class="fas fa-calendar-times master-detail"> &nbsp; 23-04-2021</span>

            </div>

            <div  class="paymnet-master-card col-md-3">
                <div class="paymnet-master-card-control">
                    <button><i class="lnr lnr-cross-circle"></i></button>
                    <button><i class="lnr lnr-pencil"></i></button>
                </div> 
            <h3> NAME</h3>
          <span class="fas fa-file-invoice-dollar master-detail"> &nbsp; Trans fee</span>
          <span class="fas fa-money-bill-alt master-detail"> &nbsp; 300 MAD</span>
          <span class="fas fa-calendar-check master-detail"> &nbsp; 23-04-2021</span>
          <span class="fas fa-calendar-times master-detail"> &nbsp; 23-04-2021</span>

        </div>

        <div  class="paymnet-master-card col-md-3">
            <div class="paymnet-master-card-control">
                <button><i class="lnr lnr-cross-circle"></i></button>
                <button><i class="lnr lnr-pencil"></i></button>
            </div> 
        <h3> NAME</h3>
      <span class="fas fa-file-invoice-dollar master-detail"> &nbsp; Trans fee</span>
      <span class="fas fa-money-bill-alt master-detail"> &nbsp; 300 MAD</span>
      <span class="fas fa-calendar-check master-detail"> &nbsp; 23-04-2021</span>
      <span class="fas fa-calendar-times master-detail"> &nbsp; 23-04-2021</span>

    </div>


    <div  class="paymnet-master-card col-md-3">
        <div class="paymnet-master-card-control">
            <button><i class="lnr lnr-cross-circle"></i></button>
            <button><i class="lnr lnr-pencil"></i></button>
        </div> 
    <h3> NAME</h3>
  <span class="fas fa-file-invoice-dollar master-detail"> &nbsp; Trans fee</span>
  <span class="fas fa-money-bill-alt master-detail"> &nbsp; 300 MAD</span>
  <span class="fas fa-calendar-check master-detail"> &nbsp; 23-04-2021</span>
  <span class="fas fa-calendar-times master-detail"> &nbsp; 23-04-2021</span>

</div>


<div  class="paymnet-master-card col-md-3">
    <div class="paymnet-master-card-control">
        <button><i class="lnr lnr-cross-circle"></i></button>
        <button><i class="lnr lnr-pencil"></i></button>
    </div> 
<h3> NAME</h3>
<span class="fas fa-file-invoice-dollar master-detail"> &nbsp; Trans fee</span>
<span class="fas fa-money-bill-alt master-detail"> &nbsp; 300 MAD</span>
<span class="fas fa-calendar-check master-detail"> &nbsp; 23-04-2021</span>
<span class="fas fa-calendar-times master-detail"> &nbsp; 23-04-2021</span>

</div>

        </div>


 

</div>    