
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * AHUTOR : MOHSSINE KHALOUFI * * * * * * * * * * * -->
<!-- * * * * * * * * * * ORGANIZATION : BRILLNYSOFT * * * * * * * * * * -->
<!-- * ALL RIGHT RESERVED TO BRILLNIESSCHOOL A TRADEMARK OF BRILLNYSOFT  * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * LICENED UNDER BRILLYSOFT ORGs  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- HERE IS THE MAIN PAGE RAPPER -->
<div id="wrapper">
        <app-navbar></app-navbar>
          <app-sidebar></app-sidebar>
          <div class="main">
	    <!-- MAIN CONTENT -->
 	     <div class="main-content">  
                <div class="col-md-12 brill-page-path">
                  <span>DASHBOARD </span> <i class="lnr lnr-chevron-right"></i> REGISTRATION 
                </div>
            		 <div class="container-fluid brill-in-container">
                   <h2>MOHSSINE KHALOUFI</h2> 
                   <router-outlet></router-outlet>
                 </div>
                  <!-- END OF CONTAINER FLUID -->
             </div>
            <!-- END OF MAIN -->	 
          </div>
        <!-- END MAIN CONTENT -->
</div>

 