
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * AHUTOR : MOHSSINE KHALOUFI * * * * * * * * * * * -->
<!-- * * * * * * * * * * ORGANIZATION : BRILLNYSOFT * * * * * * * * * * -->
<!-- * ALL RIGHT RESERVED TO BRILLNIESSCHOOL A TRADEMARK OF BRILLNYSOFT  * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * LICENED UNDER BRILLYSOFT ORGs  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- HERE IS THE MAIN PAGE RAPPER -->
<div id="wrapper">
        <app-navbar></app-navbar>
          <app-sidebar></app-sidebar>
        <router-outlet></router-outlet>
</div>