
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * AHUTOR : MOHSSINE KHALOUFI * * * * * * * * * * * -->
<!-- * * * * * * * * * * ORGANIZATION : BRILLNYSOFT * * * * * * * * * * -->
<!-- * ALL RIGHT RESERVED TO BRILLNIESSCHOOL A TRADEMARK OF BRILLNYSOFT  * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * LICENED UNDER BRILLYSOFT ORGs  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- LICESE UPDATE ON 2021 -->
<!-- THIS SOFTWARE WAS INTEDED TO SERVE THE LIECENSE UNDER THE BRILLNIESSCHOOL -->
<!-- THIS FORM OF THE CHANGES HAS BEEN COMMITED UNDER AN AGREEMENT BETWEEN THE TWO PARTIES MOHSSINE KHALOUFI 
THE FRONT END DEVELOPER AND HAKIM NASSAOUI THE BACK-END DEVELOPER 
THE AGREEMNET BETWEEN THE PARTIES HAS BEEN CONTRACTED ON SUNDAY 13/06/2021
THAT THIS SOFTWARE IS FULLY LIECENSE UNDER THE PROGRAMMER MOHSSINE KHALOUFI -->


<!-- HERE IS THE MAIN PAGE RAPPER -->
<div id="wrapper">
        <app-navbar></app-navbar>
          <app-sidebar></app-sidebar>
          <div class="main">
	    <!-- MAIN CONTENT -->
 	     <div class="main-content">  
                <div class="col-md-12 brill-page-path">
                  <span>DASHBOARD </span> <i class="lnr lnr-chevron-right"></i> REGISTRATION 
                </div>
            		 <div class="container-fluid brill-in-container">
                   <router-outlet></router-outlet>
                 </div>
                  <!-- END OF CONTAINER FLUID -->
             </div>
            <!-- END OF MAIN -->	 
          </div>
        <!-- END MAIN CONTENT -->
</div>

 