
<div class="brill-container-g student-payment col-md-12">
    <!-- BRILL BOTTOM IICONS  -->
    <div class="global-fixed-control-btns">
        <button type="button" data-toggle="modal" data-target="#brill_modal_create_new_trans_route"><i class="lnr lnr-plus-circle"> </i></button>
    </div>


    <div class="global-container-header">
        <h3> TRANSPORTATION - ROUTES</h3>
        <p> Add , manage routes in your school </p>
    </div> 

    <div class="claassroom-list">
        <div *ngFor = "let tranRoute of allTransRoutes" class="classroom-item-card col-md-12" >
            
            <div class="ixcon">
                <i class="fas fa-route"></i>
            </div>

            <ul>
                <li><i class="fas fa-route"></i>  {{ tranRoute.name }}  </li>
            </ul>
            
            <div class="classroom-item-control">
                <button type="button" class="brill-btn-s-2"><i class="lnr lnr-plus-circle"></i></button>
                <button type="button" class="brill-btn-s-0"><i class="lnr lnr-cross-circle"></i></button>
                <button type="button" class="brill-btn-s-1"><i class="lnr lnr-pencil"></i></button>               
            </div>
        </div>
    </div>


</div>    




  <!-- ALL THE MODALS STARTS FROM HERE -->
   <!-- DATA MODAL OF ADD NEW CLALSS SECTION -->
     <!-- ALL THE MODALS STARTS FROM HERE -->
	  <!-- DATA MODAL OF ADD NEW CLALSS SECTION -->
	  <div id= "brill_modal_create_new_trans_route" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg brill-modal-dialog">
          <div class="modal-content">
               <form [formGroup] = "transRouteFormGroup" (ngSubmit)="onSubmitNewTransRoute()">
                <section class="row brill-modal-container">
                    <button class="brill-close-modal-top-righ" data-dismiss="modal"> <span class="lnr lnr-cross"></span></button>
                          
                      <div class="add-new-class-room" formGroupName = "transport_route">
                          <h3> ADD NEW TRANS ROUTE</h3>
                         <div class="brill-input-holders"> 
                          <div class="inputs-container">
    
                            <div class="brill-row">

                                    <div>
                                        <label for="routeName">Name</label>
                                        <input formControlName = "name" type="text" name="routeName" id = "classRoomSeats" class="input" placeholder="Number of seats"/>
                                    </div>
                                    
                                    <div>
                                        <label for="routeCode"> Code</label>
                                        <input formControlName = "code" type="number" name="routeCode" id = "routeCode" class="input" placeholder="Model name"/>
                                    </div>

                                    <div>
                                        <label for="note">Notes</label>
                                        <textarea formControlName = "note" name="routeNote" id = "routeNote" rows="2" placeholder="You can leave it blank if you want">
                                        </textarea>
                                </div>

                                <div>
                                    <label for="description">Description</label>
                                    <textarea formControlName = "description" name="DescriptionNotes" id = "DescriptionNotes" rows="2" placeholder="You can leave it blank if you want">
                                    </textarea>
                                </div>

                            </div>
  
                          </div>
                        </div>
                      </div>
   
                      <hr>
                         <div class="modal-footer">
                                <button type="button" class="brill-btn-2" data-dismiss="modal">GO BACK</button>
                                <button type="submit" class="brill-btn-3">Add Sect</button>
                         </div>
                   </section>
                </form> 
          </div>
        </div>
      </div>