<div class="brill-container-g staffs col-md-12">
    <!-- BRILL BOTTOM IICONS  -->
    <div class="global-fixed-control-btns" (mouseover)="onMouseOverTheFixedMenu()" (mouseout)="onMouseOutTheFixedMenu()" [@fixedMenuClosed]="bottomFixedMenuCase ? 'onopned' : 'onclosed'">
           <button type="button" data-toggle="modal" data-target="#brill_modal_create_new_staff"><i class="lnr lnr-plus-circle"> </i></button>
           <button type="button"><i class="lnr lnr-crop"> </i></button>
           <button type="button"><i class="lnr lnr-user"> </i></button>
           <button type="button"><i class="lnr lnr-pencil"> </i></button>
    </div>

    <div class="global-container-header">
        <h3> STAFF MEMBERS OF THE SCHOOL </h3>
 
    </div>  
<hr>
        <div class="brill-filter-by-click">
             <ul>
                 <li *ngFor="let role of allRolesArray"><a href="#">{{role.name}}</a></li>
              </ul>
        </div>


        <div class="staff-list col-md-12">
                 <div class="row">

                     <!-- START THE SINGLE STAFF CARD INCLUDNNG THE OPTION POP UP-->
                     <div *ngFor = "let staff of allStaffs" class="staff-card col-md-3">
                         <div class="staff-card-child">
                        <img src="assets/icons/moh.jpg">
                        <h3>{{ staff.contact.first_name +  staff.contact.last_name}}</h3>

                        <div class="staff-card-info">
                          <ul>
                              <li> <i class="lnr lnr-briefcase"> </i>   : Math Teacher </li>
                              <li> <i class="lnr lnr-diamond"> </i> : {{ staff.basic_salary }} / MONTH </li>
                              <li> <i class="lnr lnr-user"> </i> : Active </li>
                          </ul>
                        </div>

                        <div class="brill-card-options">
                            <button class="card-opt-btn" type="button" id="card_options_drop_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 <i class="lnr lnr-menu-circle"> </i> </button>
                            <div class="dropdown-menu card-options-holder-options" aria-labelledby="card_options_drop_menu">
                                  
                            <li> <a class="dropdown-item" href="#"> <i class="lnr lnr-pencil"> </i> Edit info</a> </li> 
                            <li> <a class="dropdown-item" href="#"><i class="lnr lnr-user"> </i> Profile</a>  </li>
                            <li>  <a class="dropdown-item" href="#"> <i class="lnr lnr-license"> </i> print ID card</a> </li>
                            <li>  <a class="dropdown-item" href="#"> <i class="lnr lnr-trash"> </i>Delete staff</a> </li>
                            </div>
                        </div>
                    </div>
                    </div> 
                     <!-- END THE SINGLE STAFF CARD INCLUDNNG THE OPTION POP UP-->
   
                   <!-- END THE SINGLE STAFF CARD INCLUDNNG THE OPTION POP UP-->                                                                                                                                                                                                                                                                                 
 
                 </div>
        </div>

 </div>


 
<!-- ALL THE MODALS STARTS FROM HERE -->
	  <!-- DATA MODAL OF ADD NEW STAFF -->
	  <div id= "brill_modal_create_new_staff" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg brill-modal-dialog">
          <div class="modal-content">
            <form [formGroup]="AddNewStaffFormGroup" (ngSubmit)="onAddNewStaff()">   
                <section class="row brill-modal-container">
                    <button class="brill-close-modal-top-righ" data-dismiss="modal"> <span class="lnr lnr-cross"></span></button>
                      <div class="add-new-staff">
                          <h3> ADD NEW STAFF</h3>
                         <div class="brill-input-holders"> 
                          <div class="inputs-container"  formGroupName ="staff">
                            <div class="brill-row">
                                <div>
                                    <label for="staff_cin">cin</label>
                                    <input formControlName = "cin" name="staff_cin" type="text" name="cin" placeholder="CIN" class="input obliger">
                                </div>
                                <div>
                                    <label for="staff_first_name">prénom</label>
                                    <input formControlName = "first_name" name="staff_first_name" type="text" placeholder="PRENOM" class="input obliger">
                                </div>
                                <div>
                                    <label for="staff_last_name">nom</label>
                                    <input formControlName = "last_name" name="staff_last_name" type="text" placeholder="NOM" class="input obliger">
                                </div>
                                <div>
                                    <label for="staff_sexe">sexe</label>
                                     <select formControlName = "gender" class="input-select"  name="staff_sexe" id="staff_sexe">
                                         <option selected value="">Famle</option>
                                        <option value="volvo">Male</option>
                                      </select>
                                </div>
                            </div>
                            <div class="brill-row">
                                <div>
                                    <label for="staff_date_of_birth">date de naissance</label>
                                    <input formControlName = "birth_date" name="staff_date_of_birth" type="date" placeholder="Date de naissance" class="input">
                                </div>
                        
                                <div>
                                    <label  for="prenom" class="arabic"> Father name </label>
                                    <input formControlName = "father_name" name="staff_place_of_birth" type="text" placeholder=" Father name " class="input obliger arabic">
                                </div>
                                <div>
                                    <label for="nom" class="arabic"> Mother name </label>
                                    <input formControlName = "mother_name" type="text" placeholder=" Mother name " class="input obliger arabic">
                                </div>
                                <div>
                                    <label for="lieu de naissance" >Salary </label>
                                    <input formControlName = "basic_salary"  type="number" placeholder="Salary / month " class="input">
                                </div>
                                
                            </div>
                            <div class="brill-row">
                                <div>
                                    <label for="staff_place_of_birth">Lieu de naissance</label>
                                    <input  formControlName = "birth_place" type="text" placeholder="Lieu de naissance" class="input">
                                </div>
                                <div>
                                    <label for="staff_status"> Contract Type</label>
                                     <select formControlName = "contact_type" name="staff_status" class="input-select" name="sexe" id="guardianReleventType">
                                        <option selected value="">Normal</option>
                                        <option selected value="">Pending</option>
                                        <option value="volvo">Processing</option>

                                     </select>
                                </div>
                                <div>
                                    <label for="staff_number_phone">Num téléphone</label>
                                    <input formControlName = "phone" name="staff_number_phone" type="tel" placeholder="Num télé" class="input obliger" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
                                </div>
                                <div>
                                    <label for="staff_email">email</label>
                                    <input formControlName = "email" name="staff_email" type="email" placeholder="Email" class="input">
                                </div>
                        
                            </div>


                            <div class="brill-row">
                                 <div>
                                    <label for="staff_work_shift">Work shift</label>
                                    <input formControlName = "work_shift" name="staff_work_shift" type="date" placeholder="Lieu de naissance" class="input">
                                </div>
                                <div>
                                    <label for="staff_CV"> CV</label>
                                    <input formControlName = "resume" name="staff_CV" type="button" class="input" value="upload CV">
                                </div>
                                <div>
                                    <label for="staff_resigning_letter">Resigning letter</label>
                                    <input name="joining_letter" type="tel" placeholder="Resigning letter" class="input">
                                </div>
                                <div>
                                    <label for="resignation_letter">Joining letter</label>
                                    <input name="staff_joining_letter" type="button"  value="upload file"  class="input">
                                </div>
                        
                            </div>   
                            
                            
                            <div class="brill-row">
                                <div>
                                    <label for="staffRole">Job title</label>

                                    <select formControlName = "role_id" name="staffRole" (change)="onWhichRoleSelected()" class="input-select" id="staffRole">
                                        <option *ngFor = "let role of allRolesArray" value="{{ role.id }}">{{ role.name }}</option>
                                     </select>

                                </div>
                            </div> 


                           <section *ngIf="showOptionIfTeacher" class="teacher-other-options">
                               <h3>ASSIGN TO TEACHER</h3>
                                <div class="brill-row teacher-options">
                                    <carousel>  
                                        <div *ngFor="let class of allClasses" class="teacher-option-card carousel-cell">
                                            <h5> {{ class.name }} </h5>
                                            <button *ngFor="let section of class.sections">{{ section.name }}</button>
                                        </div>
                                    </carousel>      
                                </div>

                                <!-- ASSIGN SUBJECTS TO TEACHER -->
                                <div class="teacher-subject-cards">
                                    <h4>Selected Subjects</h4>
                                    <div >
                                         <button style="background-color: #000" class="subject-item col-md-2">
                                             MATHEMATIC 
                                         </button>
                                     </div>
                                </div>
                            </section>     

                           </div>
                        </div>
                    
                      </div>
          <hr>
                         <div class="modal-footer">
                                <button type="button" class="brill-btn-2" data-dismiss="modal">GO BACK</button>
                                <button type="submit" class="brill-btn-3">ADD STAFF</button>
                         </div>
                   </section>
                </form> 
          </div>
        </div>
      </div>