<div class="brill-container-g student-payment col-md-12">
    <!-- BRILL BOTTOM IICONS  -->
    <div class="global-fixed-control-btns">
        <button type="button" data-toggle="modal" data-target="#brill_modal_create_new_trans_vehicle"><i class="lnr lnr-plus-circle"> </i></button>
    </div>


    <div class="global-container-header">
        <h3> TRANSPORTATION - ATTENDANCE</h3>
        <p> Register attendance on studen-by-student basis </p>
    </div> 


    <!-- THE ATTENDANCE STUDDENT LIST  -->
    <div class="attendance-student-list">
        <!-- STUDENT ATTENDANCE MARK //  -->
            <!-- STUDENT ATTENDANCE CALENDAR  -->
            <div class="attendance-mark-m"> 
                <div class="student-card-m col-sm-12">
                    <img src="assets/icons/moh.jpg">
                    <div class="lecture-control-btns col-md-8">
                        <ul>
                            <li><button (click) ="onTransStudentP()" class="btn-green-empty" type="button"> P</button></li>
                            <li><button (click) ="onTransStudentL()" class="btn-blue-empty" type="button"> L</button> </li>
                            <li><button (click) ="onTransStudentA()" class="btn-red-empty" type="button"> A</button></li>
                        </ul>
                    </div>
                    <h4>MOHSSINE KHALOUFI   |     SH433345</h4>
                </div>
            </div>

                        <!-- STUDENT ATTENDANCE CALENDAR  -->
                        <div class="attendance-mark-m"> 
                            <div class="student-card-m col-sm-12">
                                <img src="assets/icons/moh.jpg">
                                <div class="lecture-control-btns col-md-8">
                                    <ul>
                                        <li><button (click) ="onTransStudentP()" class="btn-green-empty" type="button"> P</button></li>
                                        <li><button (click) ="onTransStudentL()" class="btn-blue-empty" type="button"> L</button> </li>
                                        <li><button (click) ="onTransStudentA()" class="btn-red-empty" type="button"> A</button></li>
                                    </ul>
                                </div>
                                <h4>MOHSSINE KHALOUFI   |     SH433345</h4>
                            </div>
                        </div>

                                    <!-- STUDENT ATTENDANCE CALENDAR  -->
            <div class="attendance-mark-m"> 
                <div class="student-card-m col-sm-12">
                    <img src="assets/icons/moh.jpg">
                    <div class="lecture-control-btns col-md-8">
                        <ul>
                            <li><button (click) ="onTransStudentP()" class="btn-green-empty" type="button"> P</button></li>
                            <li><button (click) ="onTransStudentL()" class="btn-blue-empty" type="button"> L</button> </li>
                            <li><button (click) ="onTransStudentA()" class="btn-red-empty" type="button"> A</button></li>
                        </ul>
                    </div>
                    <h4>MOHSSINE KHALOUFI   |     SH433345</h4>
                </div>
            </div>

                        <!-- STUDENT ATTENDANCE CALENDAR  -->
                        <div class="attendance-mark-m"> 
                            <div class="student-card-m col-sm-12">
                                <img src="assets/icons/moh.jpg">
                                <div class="lecture-control-btns col-md-8">
                                    <ul>
                                        <li><button (click) ="onTransStudentP()" class="btn-green-empty" type="button"> P</button></li>
                                        <li><button (click) ="onTransStudentL()" class="btn-blue-empty" type="button"> L</button> </li>
                                        <li><button (click) ="onTransStudentA()" class="btn-red-empty" type="button"> A</button></li>
                                    </ul>
                                </div>
                                <h4>MOHSSINE KHALOUFI   |     SH433345</h4>
                            </div>
                        </div>

                                    <!-- STUDENT ATTENDANCE CALENDAR  -->
            <div class="attendance-mark-m"> 
                <div class="student-card-m col-sm-12">
                    <img src="assets/icons/moh.jpg">
                    <div class="lecture-control-btns col-md-8">
                        <ul>
                            <li><button (click) ="onTransStudentP()" class="btn-green-empty" type="button"> P</button></li>
                            <li><button (click) ="onTransStudentL()" class="btn-blue-empty" type="button"> L</button> </li>
                            <li><button (click) ="onTransStudentA()" class="btn-red-empty" type="button"> A</button></li>
                        </ul>
                    </div>
                    <h4>MOHSSINE KHALOUFI   |     SH433345</h4>
                </div>
            </div>
    </div>


    

</div>    