<div class="brill-container-g time-tables col-md-12"> 
    <div class="global-container-header">
         <h3> STUDENTS TIME TABLES </h3>
         <p> Check time table for all classes and groups by choosing your the class groups </p>
    </div>  


    <div class="brill-input-holders"> 
        <div class="inputs-container"  >
          <div class="brill-row">
              <div>
                  <label for="time_table_class">Class name</label>
                  <input name="time_table_class" type="text" placeholder="Number of seats" class="input">
              </div>
              <div>
                  <label for="time_table_section">Class section</label>
                  <input name="time_table_section" type="number" placeholder="Number of students" class="input">
              </div>

          </div>
        </div>
      </div>
   
    <div class="time-table-content col-lg-12">
    <div class="timetable">
        <div class="week-names">
          <div>monday</div>
          <div>tuesday</div>
          <div>wednesday</div>
          <div>thursday</div>
          <div>friday</div>
          <div class=" ">saturday</div>
          <div class=" ">sunday</div>
        </div>
        <div class="time-interval">
          <div>8:00 - 10:00</div>
          <div>10:00 - 12:00</div>
          <div>12:00 - 14:00</div>
          <div>14:00 - 16:00</div>
          <div>16:00 - 18:00</div>
          <div>18:00 - 20:00</div>
        </div>
        <div class="content">
          <div>
            <div class="accent-orange-gradient"> <h4>Math session <br> ROME : A1</h4> </div>
          </div>
          <div></div>
          <div></div>
          <div></div>
              <div>
            <div class="accent-green-gradient"></div>
          </div>
          <div class=" "></div>
          <div class=" "></div>
          <div></div>
          <div></div>
          <div></div>
          <div>
            <div class="accent-cyan-gradient"></div>
          </div>
          <div></div>
          <div class=" "></div>
          <div class=" "></div>
          <div>
            <div class="accent-pink-gradient"></div>
          </div>
          <div></div>
          <div>
            <div class="accent-purple-gradient"></div>
          </div>
          <div></div>
          <div></div>
          <div class=" "></div>
          <div class=" "></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div class=" "></div>
          <div class=" "></div>
          <div>
            <div class="accent-purple-gradient"></div>
          </div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div  ></div>
          <div  ></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div  ></div>
          <div class=" "></div>
        </div>
      </div>
    </div>

</div>
