<div class="brill-container-g time-tables col-md-12"> 
    <!-- RIGHT BOTTOM FIXED MENU -->
    <!-- BRILL BOTTOM IICONS  -->
    <div class="global-fixed-control-btns">
        <button type="button" data-toggle="modal" data-target="#brill_modal_create_new"><i class="lnr lnr-diamond"> </i></button>
        <button type="button"><i class="lnr lnr-crop"> </i></button>
        <button type="button"><i class="lnr lnr-user"> </i></button>
        <button type="button"><i class="lnr lnr-pencil"> </i></button>
    </div>

    <div class="global-container-header">
         <h3> STUDENTS TIME TABLES </h3>
         <p> Check time table for all classes and groups by choosing your the class groups </p>
    </div>  


    <div class="brill-input-holders"> 
        <div class="inputs-container"  >
          <div class="brill-row">
              <div>
                  <label for="time_table_class">Class name</label>
                  <input name="time_table_class" type="text" placeholder="Number of seats" class="input">
              </div>
              <div>
                  <label for="time_table_section">Class section</label>
                  <input name="time_table_section" type="number" placeholder="Number of students" class="input">
              </div>

          </div>
        </div>
      </div>
   
 <div class="time-table-content col-lg-12">
         <full-calendar [options]="CalendarOptions">

         </full-calendar>

         <!--SHOW THE SUBJECT ELEMT BUTTON -->
         
         <div class="show-subjects-btn">
             <button (click)="showSubjectsElement()" title="Subjects"><i class="lnr lnr-layers"></i></button>
         </div>

         <div #SubjectsElmRef [@SubjectsElementContainer]="subjectElmIsShown ? 'showSubjects' : 'hideSubjects'" class="subjects-list-draggable">
            <!-- CLOSE SUBJECT BUTTON IN THE SUBJECT ELEMENT -->
             <h3>SUBJECTS</h3>

             <div *ngFor = "let subject of allSubjectsArray" class="fc-event subjects-list-draggable-item ">
                <i class="fas fa-square-root-alt" style="background-color:{{subject.color }}"></i> 
                <h5> {{subject.name }}</h5>
             </div>
 
             <button (click)="hideSubjectsElement()" class="close-edge-element-btn"> 
                 <i class="lnr lnr-cross-circle"></i> </button>

         </div>
 </div>
