<div class="brill-container-g time-tables col-md-12"> 
    <!-- RIGHT BOTTOM FIXED MENU -->
        <!-- BRILL BOTTOM IICONS  -->
        <div class="global-fixed-control-btns">
            <button type="button" data-toggle="modal" data-target="#brill_modal_create_new_subject"><i class="lnr lnr-plus-circle"> </i></button>
            <button type="button"><i class="lnr lnr-crop"> </i></button>
            <button type="button"><i class="lnr lnr-user"> </i></button>
            <button type="button"><i class="lnr lnr-pencil"> </i></button>
        </div>
    
    
        <div class="global-container-header">
             <h3> STUDENT ATTANDANCE </h3>
             <p> You can use alternative view to quickly set the student attandance </p>
        </div>  

       <!-- STUDENT ATTENDANCE CALENDAR  --> 
      <!-- <div class="attendance-mark">
              <div class="student-info-card col-sm-3">
                  <img src="assets/icons/moh.jpg">
                  <h3> MOHSSIN KHEALOUFI SAHARA</h3>
                    <div class="control-btn">
                        <button class="brill-btn-0" type="button">حاظر</button>
                        <button class="brill-btn-2" type="button">غائب</button>
                        <button class="brill-btn-3" type="button">متأخر</button>
                    </div>
              </div>

              <div class="student-info-card col-sm-3">
                <img src="assets/icons/moh.jpg">
                <h3> MOHSSIN KHEALOUFI SAHARA</h3>
                  <div class="control-btn">
                      <button class="brill-btn-0" type="button">حاظر</button>
                      <button class="brill-btn-2" type="button">غائب</button>
                      <button class="brill-btn-3" type="button">متأخر</button>
                  </div>
            </div>


            <div class="student-info-card col-sm-3">
                <img src="assets/icons/moh.jpg">
                <h3> MOHSSIN KHEALOUFI SAHARA</h3>
                  <div class="control-btn">
                      <button class="brill-btn-0" type="button">حاظر</button>
                      <button class="brill-btn-2" type="button">غائب</button>
                      <button class="brill-btn-3" type="button">متأخر</button>
                  </div>
            </div>


            <div class="student-info-card col-sm-3">
                <img src="assets/icons/moh.jpg">
                <h3> MOHSSIN KHEALOUFI SAHARA</h3>
                  <div class="control-btn">
                      <button class="brill-btn-0" type="button">حاظر</button>
                      <button class="brill-btn-2" type="button">غائب</button>
                      <button class="brill-btn-3" type="button">متأخر</button>
                  </div>
            </div>


            <div class="student-info-card col-sm-3">
                <img src="assets/icons/moh.jpg">
                <h3> MOHSSIN KHEALOUFI SAHARA</h3>
                  <div class="control-btn">
                      <button class="brill-btn-0" type="button">حاظر</button>
                      <button class="brill-btn-2" type="button">غائب</button>
                      <button class="brill-btn-3" type="button">متأخر</button>
                  </div>
            </div>


            <div class="student-info-card col-sm-3">
                <img src="assets/icons/moh.jpg">
                <h3> MOHSSIN KHEALOUFI SAHARA</h3>
                  <div class="control-btn">
                      <button class="brill-btn-0" type="button">حاظر</button>
                      <button class="brill-btn-2" type="button">غائب</button>
                      <button class="brill-btn-3" type="button">متأخر</button>
                  </div>
            </div>


            <div class="student-info-card col-sm-3">
                <img src="assets/icons/moh.jpg">
                <h3> MOHSSIN KHEALOUFI SAHARA</h3>
                  <div class="control-btn">
                      <button class="brill-btn-0" type="button">حاظر</button>
                      <button class="brill-btn-2" type="button">غائب</button>
                      <button class="brill-btn-3" type="button">متأخر</button>
                  </div>
            </div>


            <div class="student-info-card col-sm-3">
                <img src="assets/icons/moh.jpg">
                <h3> MOHSSIN KHEALOUFI SAHARA</h3>
                  <div class="control-btn">
                      <button class="brill-btn-0" type="button">حاظر</button>
                      <button class="brill-btn-2" type="button">غائب</button>
                      <button class="brill-btn-3" type="button">متأخر</button>
                  </div>
            </div>


            <div class="student-info-card col-sm-3">
                <img src="assets/icons/moh.jpg">
                <h3> MOHSSIN KHEALOUFI SAHARA</h3>
                  <div class="control-btn">
                      <button class="brill-btn-0" type="button">حاظر</button>
                      <button class="brill-btn-2" type="button">غائب</button>
                      <button class="brill-btn-3" type="button">متأخر</button>
                  </div>
            </div>
      </div> -->

<!-- STUDENT ATTENDANCE MARK //  -->
<!-- STUDENT ATTENDANCE CALENDAR  --> 
<div class="attendance-mark-2"> 
    <div class="student-card-2 col-sm-12">
        <div class="col-md-3">
         <img src="assets/icons/moh.jpg">
        </div>   
         <div class="student-name col-md-4">
             <h3>MOHSSIN KHALOUFI</h3>

             <ul>
                 <li>NUMBER : e4445455</li>
                 <li>AGE : 34</li>
                 <li>GUARDIAN : MOHAMED DAOUDI</li>
             </ul>
         </div>

         <div class="student-name col-md-4">
            <h3>MATHEMATIC</h3>

            <ul>
                <li>DATE : 2/34/2020</li>
                <li>HOURE : 9-11</li>
                <li>TEACHER : MOHSSIN KHALOUFI </li>
            </ul>
        </div>
    </div>
</div>

</div>        