<div class="brill-container-g time-tables col-md-12"> 
    <!-- RIGHT BOTTOM FIXED MENU -->
        <!-- BRILL BOTTOM IICONS  -->

    
    
        <div class="global-container-header">
             <h3> STUDENT ATTANDANCE </h3>
             <p> You can use alternative view to quickly set the student attandance </p>
        </div>  

 
<!-- STUDENT ATTENDANCE MARK //  -->
<!-- STUDENT ATTENDANCE CALENDAR  -->
<div class="attendance-mark-m"> 
    <div class="student-card-m col-sm-12">
        <img src="assets/icons/moh.jpg">
        <div class="lecture-control-btns col-md-8">
            <ul>
                <li><button (click) ="onStudentP(studentCard)" class="btn-green-empty" type="button"> P</button></li>
                <li><button (click) ="onStudentL(studentCard)" class="btn-blue-empty" type="button"> L</button> </li>
                <li><button (click) ="onStudentA(studentCard)" class="btn-red-empty" type="button"> A</button></li>
            </ul>
        </div>
        <h4>MOHSSINE KHALOUFI   |     SH433345</h4>
    </div>
</div>

<div class="attendance-mark-m"> 
    <div class="student-card-m col-sm-12">
        <img src="assets/icons/moh.jpg">
        <div class="lecture-control-btns col-md-8">
            <ul>
                <li><button (click) ="onStudentP(studentCard)" class="btn-green-empty" type="button"> P</button></li>
                <li><button (click) ="onStudentL(studentCard)" class="btn-blue-empty" type="button"> L</button> </li>
                <li><button (click) ="onStudentA(studentCard)" class="btn-red-empty" type="button"> A</button></li>
            </ul>
        </div>
        <h4>MOHSSINE KHALOUFI   |     SH433345</h4>
    </div>
</div>


<div class="attendance-mark-m"> 
    <div class="student-card-m col-sm-12">
        <img src="assets/icons/moh.jpg">
        <div class="lecture-control-btns col-md-8">
            <ul>
                <li><button (click) ="onStudentP(studentCard)" class="btn-green-empty" type="button"> P</button></li>
                <li><button (click) ="onStudentL(studentCard)" class="btn-blue-empty" type="button"> L</button> </li>
                <li><button (click) ="onStudentA(studentCard)" class="btn-red-empty" type="button"> A</button></li>
            </ul>
        </div>
        <h4>MOHSSINE KHALOUFI   |     SH433345</h4>
    </div>
</div>


<div class="attendance-mark-m"> 
    <div class="student-card-m col-sm-12">
        <img src="assets/icons/moh.jpg">
        <div class="lecture-control-btns col-md-8">
            <ul>
                <li><button (click) ="onStudentP(studentCard)" class="btn-green-empty" type="button"> P</button></li>
                <li><button (click) ="onStudentL(studentCard)" class="btn-blue-empty" type="button"> L</button> </li>
                <li><button (click) ="onStudentA(studentCard)" class="btn-red-empty" type="button"> A</button></li>
            </ul>
        </div>
        <h4>MOHSSINE KHALOUFI   |     SH433345</h4>
    </div>
</div>


<div class="attendance-mark-m"> 
    <div class="student-card-m col-sm-12">
        <img src="assets/icons/moh.jpg">
        <div class="lecture-control-btns col-md-8">
            <ul>
                <li><button (click) ="onStudentP(studentCard)" class="btn-green-empty" type="button"> P</button></li>
                <li><button (click) ="onStudentL(studentCard)" class="btn-blue-empty" type="button"> L</button> </li>
                <li><button (click) ="onStudentA(studentCard)" class="btn-red-empty" type="button"> A</button></li>
            </ul>
        </div>
        <h4>MOHSSINE KHALOUFI   |     SH433345</h4>
    </div>
</div>


<div class="attendance-mark-m"> 
    <div class="student-card-m col-sm-12">
        <img src="assets/icons/moh.jpg">
        <div class="lecture-control-btns col-md-8">
            <ul>
                <li><button (click) ="onStudentP(studentCard)" class="btn-green-empty" type="button"> P</button></li>
                <li><button (click) ="onStudentL(studentCard)" class="btn-blue-empty" type="button"> L</button> </li>
                <li><button (click) ="onStudentA(studentCard)" class="btn-red-empty" type="button"> A</button></li>
            </ul>
        </div>
        <h4>MOHSSINE KHALOUFI   |     SH433345</h4>
    </div>
</div>


<div class="attendance-mark-m"> 
    <div class="student-card-m col-sm-12">
        <img src="assets/icons/moh.jpg">
        <div class="lecture-control-btns col-md-8">
            <ul>
                <li><button (click) ="onStudentP(studentCard)" class="btn-green-empty" type="button"> P</button></li>
                <li><button (click) ="onStudentL(studentCard)" class="btn-blue-empty" type="button"> L</button> </li>
                <li><button (click) ="onStudentA(studentCard)" class="btn-red-empty" type="button"> A</button></li>
            </ul>
        </div>
        <h4>MOHSSINE KHALOUFI   |     SH433345</h4>
    </div>
</div>
<!-- STUDENT ATTENDANCE MARK //  -->
<!-- STUDENT ATTENDANCE CALENDAR  --> 
<div class="attendance-mark-2"> 
     <div #studentCard class="student-card-2 col-sm-12">
        <div class="col-md-2">
         <img src="assets/icons/moh.jpg">
        </div>   
         <div class="student-name col-md-4">
             <h3>MOHSSIN KHALOUFI</h3>

             <ul>
                 <li>NUMBER : e4445455</li>
                 <li>AGE : 34</li>
                 <li>GUARDIAN : MOHAMED DAOUDI</li>
             </ul>
         </div>

         <div class="lecture-name col-md-4">
            <h3>MATHEMATIC</h3>

            <ul>
                <li>DATE : 2/34/2020</li>
                <li>HOURE : 9-11</li>
                <li>TEACHER : MOHSSIN KHALOUFI </li>
            </ul>
        </div>

        <div class="lecture-control-btns col-md-2">
            <ul>
                <li><button (click) ="onStudentP(studentCard)" class="btn-green-empty" type="button"> P</button></li>
                <li><button (click) ="onStudentL(studentCard)" class="btn-blue-empty" type="button"> L</button> </li>
                <li><button (click) ="onStudentA(studentCard)" class="btn-red-empty" type="button"> A</button></li>
            </ul>
        </div>
    </div>

    <div #studentCard class="student-card-2 col-sm-12">
        <div class="col-md-2">
         <img src="assets/icons/moh.jpg">
        </div>   
         <div class="student-name col-md-4">
             <h3>MOHSSIN KHALOUFI</h3>

             <ul>
                 <li>NUMBER : e4445455</li>
                 <li>AGE : 34</li>
                 <li>GUARDIAN : MOHAMED DAOUDI</li>
             </ul>
         </div>

         <div class="lecture-name col-md-4">
            <h3>MATHEMATIC</h3>

            <ul>
                <li>DATE : 2/34/2020</li>
                <li>HOURE : 9-11</li>
                <li>TEACHER : MOHSSIN KHALOUFI </li>
            </ul>
        </div>

        <div class="lecture-control-btns col-md-2">
            <ul>
                <li><button (click) ="onStudentP(studentCard)" class="btn-green-empty" type="button"> P</button></li>
                <li><button (click) ="onStudentL(studentCard)" class="btn-blue-empty" type="button"> L</button> </li>
                <li><button (click) ="onStudentA(studentCard)" class="btn-red-empty" type="button"> A</button></li>
            </ul>
        </div>
    </div>
    
    <div #studentCard class="student-card-2 col-sm-12">
        <div class="col-md-2">
         <img src="assets/icons/moh.jpg">
        </div>   
         <div class="student-name col-md-4">
             <h3>MOHSSIN KHALOUFI</h3>

             <ul>
                 <li>NUMBER : e4445455</li>
                 <li>AGE : 34</li>
                 <li>GUARDIAN : MOHAMED DAOUDI</li>
             </ul>
         </div>

         <div class="lecture-name col-md-4">
            <h3>MATHEMATIC</h3>

            <ul>
                <li>DATE : 2/34/2020</li>
                <li>HOURE : 9-11</li>
                <li>TEACHER : MOHSSIN KHALOUFI </li>
            </ul>
        </div>

        <div class="lecture-control-btns col-md-2">
            <ul>
                <li><button (click) ="onStudentP(studentCard)" class="btn-green-empty" type="button"> P</button></li>
                <li><button (click) ="onStudentL(studentCard)" class="btn-blue-empty" type="button"> L</button> </li>
                <li><button (click) ="onStudentA(studentCard)" class="btn-red-empty" type="button"> A</button></li>
            </ul>
        </div>
    </div>   


    <div #studentCard class="student-card-2 col-sm-12">
        <div class="col-md-2">
         <img src="assets/icons/moh.jpg">
        </div>   
         <div class="student-name col-md-4">
             <h3>MOHSSIN KHALOUFI</h3>

             <ul>
                 <li>NUMBER : e4445455</li>
                 <li>AGE : 34</li>
                 <li>GUARDIAN : MOHAMED DAOUDI</li>
             </ul>
         </div>

         <div class="lecture-name col-md-4">
            <h3>MATHEMATIC</h3>

            <ul>
                <li>DATE : 2/34/2020</li>
                <li>HOURE : 9-11</li>
                <li>TEACHER : MOHSSIN KHALOUFI </li>
            </ul>
        </div>

        <div class="lecture-control-btns col-md-2">
            <ul>
                <li><button (click) ="onStudentP(studentCard)" class="btn-green-empty" type="button"> P</button></li>
                <li><button (click) ="onStudentL(studentCard)" class="btn-blue-empty" type="button"> L</button> </li>
                <li><button (click) ="onStudentA(studentCard)" class="btn-red-empty" type="button"> A</button></li>
            </ul>
        </div>
    </div>
    
    <div #studentCard class="student-card-2 col-sm-12">
        <div class="col-md-2">
         <img src="assets/icons/moh.jpg">
        </div>   
         <div class="student-name col-md-4">
             <h3>MOHSSIN KHALOUFI</h3>

             <ul>
                 <li>NUMBER : e4445455</li>
                 <li>AGE : 34</li>
                 <li>GUARDIAN : MOHAMED DAOUDI</li>
             </ul>
         </div>

         <div class="lecture-name col-md-4">
            <h3>MATHEMATIC</h3>

            <ul>
                <li>DATE : 2/34/2020</li>
                <li>HOURE : 9-11</li>
                <li>TEACHER : MOHSSIN KHALOUFI </li>
            </ul>
        </div>

        <div class="lecture-control-btns col-md-2">
            <ul>
                <li><button (click) ="onStudentP(studentCard)" class="btn-green-empty" type="button"> P</button></li>
                <li><button (click) ="onStudentL(studentCard)" class="btn-blue-empty" type="button"> L</button> </li>
                <li><button (click) ="onStudentA(studentCard)" class="btn-red-empty" type="button"> A</button></li>
            </ul>
        </div>
    </div>
    
    <div #studentCard class="student-card-2 col-sm-12">
        <div class="col-md-2">
         <img src="assets/icons/moh.jpg">
        </div>   
         <div class="student-name col-md-4">
             <h3>MOHSSIN KHALOUFI</h3>

             <ul>
                 <li>NUMBER : e4445455</li>
                 <li>AGE : 34</li>
                 <li>GUARDIAN : MOHAMED DAOUDI</li>
             </ul>
         </div>

         <div class="lecture-name col-md-4">
            <h3>MATHEMATIC</h3>

            <ul>
                <li>DATE : 2/34/2020</li>
                <li>HOURE : 9-11</li>
                <li>TEACHER : MOHSSIN KHALOUFI </li>
            </ul>
        </div>

        <div class="lecture-control-btns col-md-2">
            <ul>
                <li><button (click) ="onStudentP(studentCard)" class="btn-green-empty" type="button"> P</button></li>
                <li><button (click) ="onStudentL(studentCard)" class="btn-blue-empty" type="button"> L</button> </li>
                <li><button (click) ="onStudentA(studentCard)" class="btn-red-empty" type="button"> A</button></li>
            </ul>
        </div>
    </div>  

</div>

</div>        