<div class="brill-container-g student-payment col-md-12">
    <div class="global-container-header">
        <h3> ADD STUDENT PAYMENT </h3>
         <p> Ask the student to properly scan his/her ID card or select a student manually </p>
    </div>  


    <div class="student-paymant-container">
        <div class="brill-input-holders"> 
            <div class="inputs-container"  >
              <div class="brill-row">
                  <div>
                      <label for="payment_number_name">Student name</label>
                      <input name="payment_number_seats" type="text" placeholder="Number of seats" class="input">
                  </div>
                  <div>
                      <label for="payment_number_number">Student number</label>
                      <input name="payment_number_number" type="number" placeholder="Number of students" class="input">
                  </div>
   
              </div>
            </div>
          </div>

            <!-- STUDENT SMALL PRIEVIEW HORIZONTAL CARD-->
            <div class="payment-student-preview">
                <div class="preview-img col-md-2">
                     <img src="assets/icons/moh.jpg">
                </div>

                <div class="preview-info col-md-4">
                     <ul>
                         <li>STUDENT NAME : MOHSSINE KHALOUFI</li>
                         <li>STUDENT NUMBER : XS234245</li>
                     </ul>
               </div>

               <div class="preview-info col-md-4">
                <ul>
                    <li>GUARDIAN NAME : HAMADA KHALOUFI</li>
                    <li>GURDIAN CIN : SH12343</li>
                </ul>
              </div>


              
              <div class="preview-info-btn col-md-1">
                <ul>
                    <li> <button class="brill-btn-3">CONTINUE</button></li>
                    <li> <button class="brill-btn-0">RESET</button></li>
                    <li> <button class="brill-btn-4">HISTORY</button></li>

                </ul>
              </div>

            </div>

    </div>

</div>