
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$brillnyschool-primary: mat-palette($mat-indigo);
$brillnyschool-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$brillnyschool-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$brillnyschool-theme: mat-light-theme((
  color: (
    primary: $brillnyschool-primary,
    accent: $brillnyschool-accent,
    warn: $brillnyschool-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($brillnyschool-theme);


//SCSS GLOBAL VARIABLES
$containerFluidMinHeight: 300px;
$brillSeconeryColor : #474D5E;
$brillThirdColor: #006D8A;
$brill-heading-font: 'PT Sans', sans-serif;
$brillBorder-raduis: 10px;
$brill-no-border-raduis:0px;
$brillContainerBorder: 1px solid #474d5e38;

/* You can add global styles to this file, and also import other style files */
 html body{
    font-family: 'PT Sans', sans-serif;
 }

 //BRILLNIRSSCHOOL BTNS
 //BRILL BTns
.brill-btn-2{
    border-radius: 40px;
    background-color: 759492;
    border: none;
    padding: 10px;
    width: 150px;
     color: #ffffff;
    margin: 2px 4px 2px 4px;    
    background-color: #759492;
    &:hover{
        background-color: #92B2B0;
    }
}

.brill-btn-0{
    border-radius: 40px;
    background-color: 759492;
    border: none;
    padding: 10px;
    width: 100px;
    color: #ffffff;
    background-color: #CB0247;
    margin: 2px 4px 2px 4px;
    &:hover{
        background-color: #DF2263;
    }
}

.brill-btn-1{
    border-radius: 40px;
    background-color: 759492;
    border: none;
    padding: 10px;
     color: #ffffff;
    background-color: #0096AE;
    margin: 2px 4px 2px 4px;
    &:hover{
        background-color: #14AD70;
    }
}

.brill-btn-3{
    border-radius: 40px;
    background-color: 759492;
    border: none;
    padding: 10px;
    width: 100px;
    color: #ffffff;
    background-color: #009D5E;
    margin: 2px 4px 2px 4px;
    &:hover{
        background-color: #14AD70;
    }
}

.brill-btn-light{
    border-radius: 40px;
    background-color: 759492;
    border: none;
    padding: 10px;
    width: 80%;
    color: #FFFFFF;
    margin: 14px 4px 2px 4px;
    background-color: #474d5e;
        &:hover{
        background-color: #565D6E;
    }
}

//STYLING THE MODAL
.brill-modal-container {
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #474D5E;
    padding: 20px 40px 20px 40px;
     min-height: 280px;
    border-radius: 20px;
    text-align: center;
  }
  
  .brill-modal-container h3 {
    padding: 16px;
    border-bottom: 1px solid #000000;
    font-family: "PT Sans", sans-serif;
  }
  
  .brill-modal-container h3 p {
    float: right;
    padding-right: 150px;
    font-size: 15px;
  }
  
  .brill-filter-search-bydate ul {
    list-style: none;
  }
  
  .brill-filter-search-bydate ul li {
    float: left;
    padding: 0px 4px 0px 4px;
  }
  
  .brill-filter-search-bydate ul li span {
    padding: 10px;
    border-radius: 20px;
    margin-right: 20px;
    font-size: 18px;
  }
  
  .brill-filter-search-bydate ul button {
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 20px;
    background-color: #f5f5fa;
  }
  
  .brill-filter-search-bydate ul button:hover {
    background-color: #FFFFFF;
  }
  
  .brill-filter-search-bar .modal-footer {
    padding: 20px;
    margin-top: 10px;
    clear: both;
  }

  .modal-footer{
    border-top: 1px solid #dedede;
    clear: both;
  }


  .brill-close-modal-top-righ {
    position: fixed;
    right: 30px;
    top: 10px;
    font-size: 30px;
    border: 2px solid #dcdcdc;
    color: #7e7e7e;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    background-color: #f5f5fa;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.navbar-default {
  transition: all 0.3s ease-in-out;
   border-radius: 0;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #fff;
  box-shadow: -1px 0px 3px 0px rgb(0 0 0 / 87%);
}